<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDate</key>
	<date>2009-06-19T02:55:22Z</date>
	<key>financalData</key>
	<array>
		<dict>
			<key>adjClose</key>
			<real>144.67</real>
			<key>close</key>
			<real>144.67</real>
			<key>date</key>
			<date>2009-06-05T04:00:00Z</date>
			<key>high</key>
			<real>146.4</real>
			<key>low</key>
			<real>143.21</real>
			<key>open</key>
			<real>145.31</real>
			<key>volume</key>
			<real>22585700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>143.74</real>
			<key>close</key>
			<real>143.74</real>
			<key>date</key>
			<date>2009-06-04T04:00:00Z</date>
			<key>high</key>
			<real>144.18</real>
			<key>low</key>
			<real>140.04</real>
			<key>open</key>
			<real>140.13</real>
			<key>volume</key>
			<real>19537200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>140.95</real>
			<key>close</key>
			<real>140.95</real>
			<key>date</key>
			<date>2009-06-03T04:00:00Z</date>
			<key>high</key>
			<real>141.11</real>
			<key>low</key>
			<real>139.07</real>
			<key>open</key>
			<real>140</real>
			<key>volume</key>
			<real>20171800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>139.49</real>
			<key>close</key>
			<real>139.49</real>
			<key>date</key>
			<date>2009-06-02T04:00:00Z</date>
			<key>high</key>
			<real>141.34</real>
			<key>low</key>
			<real>138.35</real>
			<key>open</key>
			<real>138.99</real>
			<key>volume</key>
			<real>16199500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>139.35</real>
			<key>close</key>
			<real>139.35</real>
			<key>date</key>
			<date>2009-06-01T04:00:00Z</date>
			<key>high</key>
			<real>139.99</real>
			<key>low</key>
			<real>136</real>
			<key>open</key>
			<real>136.47</real>
			<key>volume</key>
			<real>16160700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>135.81</real>
			<key>close</key>
			<real>135.81</real>
			<key>date</key>
			<date>2009-05-29T04:00:00Z</date>
			<key>high</key>
			<real>135.9</real>
			<key>low</key>
			<real>133.85</real>
			<key>open</key>
			<real>135.39</real>
			<key>volume</key>
			<real>16304800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>135.07</real>
			<key>close</key>
			<real>135.07</real>
			<key>date</key>
			<date>2009-05-28T04:00:00Z</date>
			<key>high</key>
			<real>135.39</real>
			<key>low</key>
			<real>132.03</real>
			<key>open</key>
			<real>133.45</real>
			<key>volume</key>
			<real>17397200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>133.05</real>
			<key>close</key>
			<real>133.05</real>
			<key>date</key>
			<date>2009-05-27T04:00:00Z</date>
			<key>high</key>
			<real>134.98</real>
			<key>low</key>
			<real>130.91</real>
			<key>open</key>
			<real>131.78</real>
			<key>volume</key>
			<real>23086500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>130.78</real>
			<key>close</key>
			<real>130.78</real>
			<key>date</key>
			<date>2009-05-26T04:00:00Z</date>
			<key>high</key>
			<real>130.83</real>
			<key>low</key>
			<real>124.55</real>
			<key>open</key>
			<real>124.76</real>
			<key>volume</key>
			<real>22692300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>122.5</real>
			<key>close</key>
			<real>122.5</real>
			<key>date</key>
			<date>2009-05-22T04:00:00Z</date>
			<key>high</key>
			<real>124.18</real>
			<key>low</key>
			<real>121.75</real>
			<key>open</key>
			<real>124.05</real>
			<key>volume</key>
			<real>10642800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>124.18</real>
			<key>close</key>
			<real>124.18</real>
			<key>date</key>
			<date>2009-05-21T04:00:00Z</date>
			<key>high</key>
			<real>126.78</real>
			<key>low</key>
			<real>122.89</real>
			<key>open</key>
			<real>125.15</real>
			<key>volume</key>
			<real>14569500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>125.87</real>
			<key>close</key>
			<real>125.87</real>
			<key>date</key>
			<date>2009-05-20T04:00:00Z</date>
			<key>high</key>
			<real>129.21</real>
			<key>low</key>
			<real>125.3</real>
			<key>open</key>
			<real>127.63</real>
			<key>volume</key>
			<real>13878000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>127.45</real>
			<key>close</key>
			<real>127.45</real>
			<key>date</key>
			<date>2009-05-19T04:00:00Z</date>
			<key>high</key>
			<real>129.31</real>
			<key>low</key>
			<real>125.74</real>
			<key>open</key>
			<real>126.82</real>
			<key>volume</key>
			<real>13300800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>126.65</real>
			<key>close</key>
			<real>126.65</real>
			<key>date</key>
			<date>2009-05-18T04:00:00Z</date>
			<key>high</key>
			<real>126.7</real>
			<key>low</key>
			<real>121.57</real>
			<key>open</key>
			<real>123.73</real>
			<key>volume</key>
			<real>16387200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>122.42</real>
			<key>close</key>
			<real>122.42</real>
			<key>date</key>
			<date>2009-05-15T04:00:00Z</date>
			<key>high</key>
			<real>124.62</real>
			<key>low</key>
			<real>121.61</real>
			<key>open</key>
			<real>122.32</real>
			<key>volume</key>
			<real>13127400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>122.95</real>
			<key>close</key>
			<real>122.95</real>
			<key>date</key>
			<date>2009-05-14T04:00:00Z</date>
			<key>high</key>
			<real>123.53</real>
			<key>low</key>
			<real>119.7</real>
			<key>open</key>
			<real>119.78</real>
			<key>volume</key>
			<real>15993800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>119.49</real>
			<key>close</key>
			<real>119.49</real>
			<key>date</key>
			<date>2009-05-13T04:00:00Z</date>
			<key>high</key>
			<real>124.02</real>
			<key>low</key>
			<real>119.38</real>
			<key>open</key>
			<real>123.21</real>
			<key>volume</key>
			<real>21284700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>124.42</real>
			<key>close</key>
			<real>124.42</real>
			<key>date</key>
			<date>2009-05-12T04:00:00Z</date>
			<key>high</key>
			<real>129.71</real>
			<key>low</key>
			<real>123.25</real>
			<key>open</key>
			<real>129.56</real>
			<key>volume</key>
			<real>21767200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>129.57</real>
			<key>close</key>
			<real>129.57</real>
			<key>date</key>
			<date>2009-05-11T04:00:00Z</date>
			<key>high</key>
			<real>130.96</real>
			<key>low</key>
			<real>127.12</real>
			<key>open</key>
			<real>127.37</real>
			<key>volume</key>
			<real>14452100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>129.19</real>
			<key>close</key>
			<real>129.19</real>
			<key>date</key>
			<date>2009-05-08T04:00:00Z</date>
			<key>high</key>
			<real>131.23</real>
			<key>low</key>
			<real>126.26</real>
			<key>open</key>
			<real>129.04</real>
			<key>volume</key>
			<real>16713000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>129.06</real>
			<key>close</key>
			<real>129.06</real>
			<key>date</key>
			<date>2009-05-07T04:00:00Z</date>
			<key>high</key>
			<real>132.39</real>
			<key>low</key>
			<real>127.9</real>
			<key>open</key>
			<real>132.33</real>
			<key>volume</key>
			<real>18992000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>132.5</real>
			<key>close</key>
			<real>132.5</real>
			<key>date</key>
			<date>2009-05-06T04:00:00Z</date>
			<key>high</key>
			<real>133.5</real>
			<key>low</key>
			<real>130.22</real>
			<key>open</key>
			<real>133.33</real>
			<key>volume</key>
			<real>16912100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>132.71</real>
			<key>close</key>
			<real>132.71</real>
			<key>date</key>
			<date>2009-05-05T04:00:00Z</date>
			<key>high</key>
			<real>132.86</real>
			<key>low</key>
			<real>131.12</real>
			<key>open</key>
			<real>131.75</real>
			<key>volume</key>
			<real>14223400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>132.07</real>
			<key>close</key>
			<real>132.07</real>
			<key>date</key>
			<date>2009-05-04T04:00:00Z</date>
			<key>high</key>
			<real>132.25</real>
			<key>low</key>
			<real>127.68</real>
			<key>open</key>
			<real>128.24</real>
			<key>volume</key>
			<real>21762800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>127.24</real>
			<key>close</key>
			<real>127.24</real>
			<key>date</key>
			<date>2009-05-01T04:00:00Z</date>
			<key>high</key>
			<real>127.95</real>
			<key>low</key>
			<real>125.8</real>
			<key>open</key>
			<real>125.8</real>
			<key>volume</key>
			<real>14197000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>125.83</real>
			<key>close</key>
			<real>125.83</real>
			<key>date</key>
			<date>2009-04-30T04:00:00Z</date>
			<key>high</key>
			<real>127</real>
			<key>low</key>
			<real>124.92</real>
			<key>open</key>
			<real>126.22</real>
			<key>volume</key>
			<real>17803200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>125.14</real>
			<key>close</key>
			<real>125.14</real>
			<key>date</key>
			<date>2009-04-29T04:00:00Z</date>
			<key>high</key>
			<real>126.85</real>
			<key>low</key>
			<real>123.83</real>
			<key>open</key>
			<real>124.85</real>
			<key>volume</key>
			<real>16361100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>123.9</real>
			<key>close</key>
			<real>123.9</real>
			<key>date</key>
			<date>2009-04-28T04:00:00Z</date>
			<key>high</key>
			<real>126.21</real>
			<key>low</key>
			<real>123.26</real>
			<key>open</key>
			<real>123.35</real>
			<key>volume</key>
			<real>16280600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>124.73</real>
			<key>close</key>
			<real>124.73</real>
			<key>date</key>
			<date>2009-04-27T04:00:00Z</date>
			<key>high</key>
			<real>125</real>
			<key>low</key>
			<real>122.66</real>
			<key>open</key>
			<real>122.9</real>
			<key>volume</key>
			<real>17167500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>123.9</real>
			<key>close</key>
			<real>123.9</real>
			<key>date</key>
			<date>2009-04-24T04:00:00Z</date>
			<key>high</key>
			<real>125.14</real>
			<key>low</key>
			<real>122.97</real>
			<key>open</key>
			<real>124.64</real>
			<key>volume</key>
			<real>19313000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>125.4</real>
			<key>close</key>
			<real>125.4</real>
			<key>date</key>
			<date>2009-04-23T04:00:00Z</date>
			<key>high</key>
			<real>127.2</real>
			<key>low</key>
			<real>123.51</real>
			<key>open</key>
			<real>126.62</real>
			<key>volume</key>
			<real>33755600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>121.51</real>
			<key>close</key>
			<real>121.51</real>
			<key>date</key>
			<date>2009-04-22T04:00:00Z</date>
			<key>high</key>
			<real>125.35</real>
			<key>low</key>
			<real>121.2</real>
			<key>open</key>
			<real>122.63</real>
			<key>volume</key>
			<real>33527400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>121.76</real>
			<key>close</key>
			<real>121.76</real>
			<key>date</key>
			<date>2009-04-21T04:00:00Z</date>
			<key>high</key>
			<real>122.14</real>
			<key>low</key>
			<real>118.6</real>
			<key>open</key>
			<real>118.89</real>
			<key>volume</key>
			<real>16810200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>120.5</real>
			<key>close</key>
			<real>120.5</real>
			<key>date</key>
			<date>2009-04-20T04:00:00Z</date>
			<key>high</key>
			<real>122.99</real>
			<key>low</key>
			<real>119.16</real>
			<key>open</key>
			<real>121.73</real>
			<key>volume</key>
			<real>16659500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>123.42</real>
			<key>close</key>
			<real>123.42</real>
			<key>date</key>
			<date>2009-04-17T04:00:00Z</date>
			<key>high</key>
			<real>124.25</real>
			<key>low</key>
			<real>120.25</real>
			<key>open</key>
			<real>121.18</real>
			<key>volume</key>
			<real>17767700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>121.45</real>
			<key>close</key>
			<real>121.45</real>
			<key>date</key>
			<date>2009-04-16T04:00:00Z</date>
			<key>high</key>
			<real>123.15</real>
			<key>low</key>
			<real>118.79</real>
			<key>open</key>
			<real>119.19</real>
			<key>volume</key>
			<real>21194500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>117.64</real>
			<key>close</key>
			<real>117.64</real>
			<key>date</key>
			<date>2009-04-15T04:00:00Z</date>
			<key>high</key>
			<real>118.25</real>
			<key>low</key>
			<real>115.76</real>
			<key>open</key>
			<real>117.2</real>
			<key>volume</key>
			<real>14745800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>118.31</real>
			<key>close</key>
			<real>118.31</real>
			<key>date</key>
			<date>2009-04-14T04:00:00Z</date>
			<key>high</key>
			<real>120.17</real>
			<key>low</key>
			<real>117.25</real>
			<key>open</key>
			<real>119.57</real>
			<key>volume</key>
			<real>16236500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>120.22</real>
			<key>close</key>
			<real>120.22</real>
			<key>date</key>
			<date>2009-04-13T04:00:00Z</date>
			<key>high</key>
			<real>120.98</real>
			<key>low</key>
			<real>119</real>
			<key>open</key>
			<real>120.01</real>
			<key>volume</key>
			<real>13901300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>119.57</real>
			<key>close</key>
			<real>119.57</real>
			<key>date</key>
			<date>2009-04-09T04:00:00Z</date>
			<key>high</key>
			<real>120</real>
			<key>low</key>
			<real>117.96</real>
			<key>open</key>
			<real>118.42</real>
			<key>volume</key>
			<real>18955600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>116.32</real>
			<key>close</key>
			<real>116.32</real>
			<key>date</key>
			<date>2009-04-08T04:00:00Z</date>
			<key>high</key>
			<real>116.79</real>
			<key>low</key>
			<real>114.58</real>
			<key>open</key>
			<real>115.43</real>
			<key>volume</key>
			<real>16272500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>115</real>
			<key>close</key>
			<real>115</real>
			<key>date</key>
			<date>2009-04-07T04:00:00Z</date>
			<key>high</key>
			<real>116.67</real>
			<key>low</key>
			<real>114.19</real>
			<key>open</key>
			<real>116.53</real>
			<key>volume</key>
			<real>19163600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>118.45</real>
			<key>close</key>
			<real>118.45</real>
			<key>date</key>
			<date>2009-04-06T04:00:00Z</date>
			<key>high</key>
			<real>118.75</real>
			<key>low</key>
			<real>113.28</real>
			<key>open</key>
			<real>114.94</real>
			<key>volume</key>
			<real>23502300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>115.99</real>
			<key>close</key>
			<real>115.99</real>
			<key>date</key>
			<date>2009-04-03T04:00:00Z</date>
			<key>high</key>
			<real>116.13</real>
			<key>low</key>
			<real>113.52</real>
			<key>open</key>
			<real>114.19</real>
			<key>volume</key>
			<real>22722900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>112.71</real>
			<key>close</key>
			<real>112.71</real>
			<key>date</key>
			<date>2009-04-02T04:00:00Z</date>
			<key>high</key>
			<real>114.75</real>
			<key>low</key>
			<real>109.78</real>
			<key>open</key>
			<real>110.14</real>
			<key>volume</key>
			<real>29013100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>108.69</real>
			<key>close</key>
			<real>108.69</real>
			<key>date</key>
			<date>2009-04-01T04:00:00Z</date>
			<key>high</key>
			<real>109</real>
			<key>low</key>
			<real>103.89</real>
			<key>open</key>
			<real>104.09</real>
			<key>volume</key>
			<real>21049000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>105.12</real>
			<key>close</key>
			<real>105.12</real>
			<key>date</key>
			<date>2009-03-31T04:00:00Z</date>
			<key>high</key>
			<real>107.45</real>
			<key>low</key>
			<real>105</real>
			<key>open</key>
			<real>105.45</real>
			<key>volume</key>
			<real>20338500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>104.49</real>
			<key>close</key>
			<real>104.49</real>
			<key>date</key>
			<date>2009-03-30T04:00:00Z</date>
			<key>high</key>
			<real>105.01</real>
			<key>low</key>
			<real>102.61</real>
			<key>open</key>
			<real>104.51</real>
			<key>volume</key>
			<real>17957000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>106.85</real>
			<key>close</key>
			<real>106.85</real>
			<key>date</key>
			<date>2009-03-27T04:00:00Z</date>
			<key>high</key>
			<real>108.53</real>
			<key>low</key>
			<real>106.4</real>
			<key>open</key>
			<real>108.23</real>
			<key>volume</key>
			<real>17602600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>109.87</real>
			<key>close</key>
			<real>109.87</real>
			<key>date</key>
			<date>2009-03-26T04:00:00Z</date>
			<key>high</key>
			<real>109.98</real>
			<key>low</key>
			<real>107.58</real>
			<key>open</key>
			<real>107.83</real>
			<key>volume</key>
			<real>22009000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>106.49</real>
			<key>close</key>
			<real>106.49</real>
			<key>date</key>
			<date>2009-03-25T04:00:00Z</date>
			<key>high</key>
			<real>108.36</real>
			<key>low</key>
			<real>103.86</real>
			<key>open</key>
			<real>107.58</real>
			<key>volume</key>
			<real>23093500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>106.5</real>
			<key>close</key>
			<real>106.5</real>
			<key>date</key>
			<date>2009-03-24T04:00:00Z</date>
			<key>high</key>
			<real>109.44</real>
			<key>low</key>
			<real>105.39</real>
			<key>open</key>
			<real>106.36</real>
			<key>volume</key>
			<real>22879000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>107.66</real>
			<key>close</key>
			<real>107.66</real>
			<key>date</key>
			<date>2009-03-23T04:00:00Z</date>
			<key>high</key>
			<real>108.16</real>
			<key>low</key>
			<real>101.75</real>
			<key>open</key>
			<real>102.71</real>
			<key>volume</key>
			<real>23799900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>101.59</real>
			<key>close</key>
			<real>101.59</real>
			<key>date</key>
			<date>2009-03-20T04:00:00Z</date>
			<key>high</key>
			<real>103.11</real>
			<key>low</key>
			<real>100.57</real>
			<key>open</key>
			<real>102.09</real>
			<key>volume</key>
			<real>24842400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>101.62</real>
			<key>close</key>
			<real>101.62</real>
			<key>date</key>
			<date>2009-03-19T04:00:00Z</date>
			<key>high</key>
			<real>103.2</real>
			<key>low</key>
			<real>100.25</real>
			<key>open</key>
			<real>101.85</real>
			<key>volume</key>
			<real>17863600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>101.52</real>
			<key>close</key>
			<real>101.52</real>
			<key>date</key>
			<date>2009-03-18T04:00:00Z</date>
			<key>high</key>
			<real>103.48</real>
			<key>low</key>
			<real>99.72</real>
			<key>open</key>
			<real>99.91</real>
			<key>volume</key>
			<real>28429900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>99.66</real>
			<key>close</key>
			<real>99.66</real>
			<key>date</key>
			<date>2009-03-17T04:00:00Z</date>
			<key>high</key>
			<real>99.69</real>
			<key>low</key>
			<real>95.07000000000001</real>
			<key>open</key>
			<real>95.23999999999999</real>
			<key>volume</key>
			<real>28094500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>95.42</real>
			<key>close</key>
			<real>95.42</real>
			<key>date</key>
			<date>2009-03-16T04:00:00Z</date>
			<key>high</key>
			<real>97.39</real>
			<key>low</key>
			<real>94.17999999999999</real>
			<key>open</key>
			<real>96.53</real>
			<key>volume</key>
			<real>28473000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>95.92999999999999</real>
			<key>close</key>
			<real>95.92999999999999</real>
			<key>date</key>
			<date>2009-03-13T04:00:00Z</date>
			<key>high</key>
			<real>97.2</real>
			<key>low</key>
			<real>95.01000000000001</real>
			<key>open</key>
			<real>96.3</real>
			<key>volume</key>
			<real>21470300</real>
		</dict>
	</array>
	<key>overallHigh</key>
	<real>146.4</real>
	<key>overallLow</key>
	<real>94.17999999999999</real>
	<key>startDate</key>
	<date>2009-03-27T02:55:22Z</date>
	<key>symbol</key>
	<string>AAPL</string>
</dict>
</plist>
