#include "CorePlot.xcconfig"

ONLY_ACTIVE_ARCH = YES
VALIDATE_PRODUCT = NO
DEPLOYMENT_POSTPROCESSING = NO
ENABLE_TESTABILITY = YES
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO

ENABLE_NS_ASSERTIONS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
LLVM_LTO = YES_THIN

SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_STRICT_CONCURRENCY = complete
