#include "CorePlot.xcconfig"

ONLY_ACTIVE_ARCH = NO
VALIDATE_PRODUCT = YES
DEPLOYMENT_POSTPROCESSING = YES
ENABLE_TESTABILITY = NO
STRIP_INSTALLED_PRODUCT = YES
GCC_OPTIMIZATION_LEVEL = s
ENABLE_NS_ASSERTIONS = NO
COPY_PHASE_STRIP = YES

SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
