#include "CorePlotWarnings.xcconfig"

ARCHS = $(ARCHS_STANDARD)

IPHONEOS_DEPLOYMENT_TARGET = 12.0
MACOSX_DEPLOYMENT_TARGET = 10.13
TVOS_DEPLOYMENT_TARGET = 12.0

SWIFT_VERSION = 5.0

PRODUCT_BUNDLE_IDENTIFIER = com.CorePlot.$(PRODUCT_NAME:rfc1034identifier)

CODE_SIGN_IDENTITY =
CODE_SIGN_IDENTITY[sdk=macosx*] = -
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = YES
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =

ALWAYS_SEARCH_USER_PATHS = NO
BUILD_LIBRARY_FOR_DISTRIBUTION = YES

CLANG_ENABLE_CODE_COVERAGE = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = NO
CLANG_LINK_OBJC_RUNTIME = $(LINK_OBJC_RUNTIME)
CLANG_STATIC_ANALYZER_MODE = shallow
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep

COMBINE_HIDPI_IMAGES = YES
COPY_PHASE_STRIP = YES

DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

GCC_C_LANGUAGE_STANDARD = c99
GCC_CHAR_IS_UNSIGNED_CHAR = NO
GCC_CW_ASM_SYNTAX = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_ASM_KEYWORD = YES
GCC_ENABLE_BUILTIN_FUNCTIONS = YES
GCC_ENABLE_FLOATING_POINT_LIBRARY_CALLS = NO
GCC_ENABLE_KERNEL_DEVELOPMENT = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_PASCAL_STRINGS = YES
GCC_ENABLE_TRIGRAPHS = NO
GCC_FAST_MATH = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_INPUT_FILETYPE = automatic
GCC_LINK_WITH_DYNAMIC_LIBRARIES = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PROJECT_NAME)_Prefix.pch
GCC_STRICT_ALIASING = YES
GCC_GENERATE_TEST_COVERAGE_FILES = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = NO
GCC_REUSE_STRINGS = YES
GCC_SHORT_ENUMS = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_THREADSAFE_STATICS = YES
GCC_UNROLL_LOOPS = YES
GCC_USE_STANDARD_INCLUDE_SEARCHING = YES

SWIFT_DISABLE_SAFETY_CHECKS = NO
SWIFT_EMIT_LOC_STRINGS = NO
SWIFT_ENABLE_BARE_SLASH_REGEX = YES
SWIFT_ENFORCE_EXCLUSIVE_ACCESS = on
SWIFT_INSTALL_MODULE = YES
SWIFT_INSTALL_OBJC_HEADER = YES
SWIFT_PRECOMPILE_BRIDGING_HEADER = YES
SWIFT_REFLECTION_METADATA_LEVEL = all
SWIFT_SUPPRESS_WARNINGS = NO
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES

ENABLE_MODULE_VERIFIER = YES
MODULE_VERIFIER_SUPPORTED_LANGUAGE_STANDARDS = c99
MODULE_VERIFIER_SUPPORTED_LANGUAGES = objective-c

LINKER_DISPLAYS_MANGLED_NAMES = NO
LOCALIZED_STRING_SWIFTUI_SUPPORT = YES
OTHER_LDFLAGS = -ObjC
RUN_CLANG_STATIC_ANALYZER = YES
SKIP_INSTALL = YES

SUPPORTS_MACCATALYST = YES
USE_HEADERMAP = YES
FUSE_BUILD_SCRIPT_PHASES = YES
