DEFINES_MODULE = YES

ENABLE_MODULE_VERIFIER = YES
MODULE_VERIFIER_SUPPORTED_LANGUAGE_STANDARDS = c99
MODULE_VERIFIER_SUPPORTED_LANGUAGES = objective-c
MODULEMAP_FILE = $(SOURCE_ROOT)/Module/module.modulemap

CURRENT_PROJECT_VERSION = 2.4

PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_MODULE_NAME = $(PRODUCT_NAME:rfc1034identifier)
