#include "CorePlot.xcconfig"

ONLY_ACTIVE_ARCH = NO
VALIDATE_PRODUCT = YES
DEPLOYMENT_POSTPROCESSING = YES
ENABLE_TESTABILITY = NO
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES

ENABLE_NS_ASSERTIONS = NO
GCC_OPTIMIZATION_LEVEL = s
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
LLVM_LTO = YES

SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_STRICT_CONCURRENCY = minimal
