<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDate</key>
	<date>2009-06-19T06:53:47Z</date>
	<key>financalData</key>
	<array>
		<dict>
			<key>adjClose</key>
			<real>135.88</real>
			<key>close</key>
			<real>135.88</real>
			<key>date</key>
			<date>2009-06-18T04:00:00Z</date>
			<key>high</key>
			<real>138</real>
			<key>low</key>
			<real>135.59</real>
			<key>open</key>
			<real>136.10999999999999</real>
			<key>volume</key>
			<real>15237600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>135.57999999999998</real>
			<key>close</key>
			<real>135.57999999999998</real>
			<key>date</key>
			<date>2009-06-17T04:00:00Z</date>
			<key>high</key>
			<real>137.44999999999999</real>
			<key>low</key>
			<real>134.53</real>
			<key>open</key>
			<real>136.67000000000002</real>
			<key>volume</key>
			<real>20377100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>136.34999999999999</real>
			<key>close</key>
			<real>136.34999999999999</real>
			<key>date</key>
			<date>2009-06-16T04:00:00Z</date>
			<key>high</key>
			<real>138.47</real>
			<key>low</key>
			<real>136.09999999999999</real>
			<key>open</key>
			<real>136.66</real>
			<key>volume</key>
			<real>18255100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>136.09</real>
			<key>close</key>
			<real>136.09</real>
			<key>date</key>
			<date>2009-06-15T04:00:00Z</date>
			<key>high</key>
			<real>136.93000000000001</real>
			<key>low</key>
			<real>134.89000000000001</real>
			<key>open</key>
			<real>136.00999999999999</real>
			<key>volume</key>
			<real>19276800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>136.97</real>
			<key>close</key>
			<real>136.97</real>
			<key>date</key>
			<date>2009-06-12T04:00:00Z</date>
			<key>high</key>
			<real>139.09999999999999</real>
			<key>low</key>
			<real>136.04000000000002</real>
			<key>open</key>
			<real>138.81</real>
			<key>volume</key>
			<real>20098500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>139.94999999999999</real>
			<key>close</key>
			<real>139.94999999999999</real>
			<key>date</key>
			<date>2009-06-11T04:00:00Z</date>
			<key>high</key>
			<real>141.56</real>
			<key>low</key>
			<real>138.55000000000001</real>
			<key>open</key>
			<real>139.55000000000001</real>
			<key>volume</key>
			<real>18719300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>140.25</real>
			<key>close</key>
			<real>140.25</real>
			<key>date</key>
			<date>2009-06-10T04:00:00Z</date>
			<key>high</key>
			<real>142.34999999999999</real>
			<key>low</key>
			<real>138.30000000000001</real>
			<key>open</key>
			<real>142.28</real>
			<key>volume</key>
			<real>24593700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>142.72</real>
			<key>close</key>
			<real>142.72</real>
			<key>date</key>
			<date>2009-06-09T04:00:00Z</date>
			<key>high</key>
			<real>144.56</real>
			<key>low</key>
			<real>140.55000000000001</real>
			<key>open</key>
			<real>143.81</real>
			<key>volume</key>
			<real>24152500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>143.84999999999999</real>
			<key>close</key>
			<real>143.84999999999999</real>
			<key>date</key>
			<date>2009-06-08T04:00:00Z</date>
			<key>high</key>
			<real>144.22999999999999</real>
			<key>low</key>
			<real>139.43000000000001</real>
			<key>open</key>
			<real>143.81999999999999</real>
			<key>volume</key>
			<real>33255400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>144.67000000000002</real>
			<key>close</key>
			<real>144.67000000000002</real>
			<key>date</key>
			<date>2009-06-05T04:00:00Z</date>
			<key>high</key>
			<real>146.40000000000001</real>
			<key>low</key>
			<real>143.20999999999998</real>
			<key>open</key>
			<real>145.31</real>
			<key>volume</key>
			<real>22585700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>143.74000000000001</real>
			<key>close</key>
			<real>143.74000000000001</real>
			<key>date</key>
			<date>2009-06-04T04:00:00Z</date>
			<key>high</key>
			<real>144.18000000000001</real>
			<key>low</key>
			<real>140.04000000000002</real>
			<key>open</key>
			<real>140.13</real>
			<key>volume</key>
			<real>19537200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>140.94999999999999</real>
			<key>close</key>
			<real>140.94999999999999</real>
			<key>date</key>
			<date>2009-06-03T04:00:00Z</date>
			<key>high</key>
			<real>141.10999999999999</real>
			<key>low</key>
			<real>139.06999999999999</real>
			<key>open</key>
			<real>140</real>
			<key>volume</key>
			<real>20171800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>139.49000000000001</real>
			<key>close</key>
			<real>139.49000000000001</real>
			<key>date</key>
			<date>2009-06-02T04:00:00Z</date>
			<key>high</key>
			<real>141.34</real>
			<key>low</key>
			<real>138.34999999999999</real>
			<key>open</key>
			<real>138.99000000000001</real>
			<key>volume</key>
			<real>16199500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>139.34999999999999</real>
			<key>close</key>
			<real>139.34999999999999</real>
			<key>date</key>
			<date>2009-06-01T04:00:00Z</date>
			<key>high</key>
			<real>139.99000000000001</real>
			<key>low</key>
			<real>136</real>
			<key>open</key>
			<real>136.47</real>
			<key>volume</key>
			<real>16160700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>135.81</real>
			<key>close</key>
			<real>135.81</real>
			<key>date</key>
			<date>2009-05-29T04:00:00Z</date>
			<key>high</key>
			<real>135.90000000000001</real>
			<key>low</key>
			<real>133.84999999999999</real>
			<key>open</key>
			<real>135.39000000000001</real>
			<key>volume</key>
			<real>16304800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>135.06999999999999</real>
			<key>close</key>
			<real>135.06999999999999</real>
			<key>date</key>
			<date>2009-05-28T04:00:00Z</date>
			<key>high</key>
			<real>135.39000000000001</real>
			<key>low</key>
			<real>132.03</real>
			<key>open</key>
			<real>133.44999999999999</real>
			<key>volume</key>
			<real>17397200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>133.05000000000001</real>
			<key>close</key>
			<real>133.05000000000001</real>
			<key>date</key>
			<date>2009-05-27T04:00:00Z</date>
			<key>high</key>
			<real>134.97999999999999</real>
			<key>low</key>
			<real>130.91</real>
			<key>open</key>
			<real>131.78</real>
			<key>volume</key>
			<real>23086500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>130.78</real>
			<key>close</key>
			<real>130.78</real>
			<key>date</key>
			<date>2009-05-26T04:00:00Z</date>
			<key>high</key>
			<real>130.82999999999998</real>
			<key>low</key>
			<real>124.55</real>
			<key>open</key>
			<real>124.75999999999999</real>
			<key>volume</key>
			<real>22692300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>122.5</real>
			<key>close</key>
			<real>122.5</real>
			<key>date</key>
			<date>2009-05-22T04:00:00Z</date>
			<key>high</key>
			<real>124.17999999999999</real>
			<key>low</key>
			<real>121.75</real>
			<key>open</key>
			<real>124.05</real>
			<key>volume</key>
			<real>10642800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>124.17999999999999</real>
			<key>close</key>
			<real>124.17999999999999</real>
			<key>date</key>
			<date>2009-05-21T04:00:00Z</date>
			<key>high</key>
			<real>126.78</real>
			<key>low</key>
			<real>122.89000000000001</real>
			<key>open</key>
			<real>125.15000000000001</real>
			<key>volume</key>
			<real>14569500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>125.87</real>
			<key>close</key>
			<real>125.87</real>
			<key>date</key>
			<date>2009-05-20T04:00:00Z</date>
			<key>high</key>
			<real>129.20999999999998</real>
			<key>low</key>
			<real>125.3</real>
			<key>open</key>
			<real>127.63</real>
			<key>volume</key>
			<real>13878000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>127.45</real>
			<key>close</key>
			<real>127.45</real>
			<key>date</key>
			<date>2009-05-19T04:00:00Z</date>
			<key>high</key>
			<real>129.31</real>
			<key>low</key>
			<real>125.74000000000001</real>
			<key>open</key>
			<real>126.82000000000001</real>
			<key>volume</key>
			<real>13300800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>126.65000000000001</real>
			<key>close</key>
			<real>126.65000000000001</real>
			<key>date</key>
			<date>2009-05-18T04:00:00Z</date>
			<key>high</key>
			<real>126.7</real>
			<key>low</key>
			<real>121.57000000000001</real>
			<key>open</key>
			<real>123.72999999999999</real>
			<key>volume</key>
			<real>16387200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>122.42</real>
			<key>close</key>
			<real>122.42</real>
			<key>date</key>
			<date>2009-05-15T04:00:00Z</date>
			<key>high</key>
			<real>124.62</real>
			<key>low</key>
			<real>121.60999999999999</real>
			<key>open</key>
			<real>122.32000000000001</real>
			<key>volume</key>
			<real>13127400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>122.95</real>
			<key>close</key>
			<real>122.95</real>
			<key>date</key>
			<date>2009-05-14T04:00:00Z</date>
			<key>high</key>
			<real>123.53</real>
			<key>low</key>
			<real>119.7</real>
			<key>open</key>
			<real>119.78</real>
			<key>volume</key>
			<real>15993800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>119.49000000000001</real>
			<key>close</key>
			<real>119.49000000000001</real>
			<key>date</key>
			<date>2009-05-13T04:00:00Z</date>
			<key>high</key>
			<real>124.02000000000001</real>
			<key>low</key>
			<real>119.38</real>
			<key>open</key>
			<real>123.20999999999999</real>
			<key>volume</key>
			<real>21284700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>124.42</real>
			<key>close</key>
			<real>124.42</real>
			<key>date</key>
			<date>2009-05-12T04:00:00Z</date>
			<key>high</key>
			<real>129.70999999999998</real>
			<key>low</key>
			<real>123.25</real>
			<key>open</key>
			<real>129.56</real>
			<key>volume</key>
			<real>21767200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>129.56999999999999</real>
			<key>close</key>
			<real>129.56999999999999</real>
			<key>date</key>
			<date>2009-05-11T04:00:00Z</date>
			<key>high</key>
			<real>130.95999999999998</real>
			<key>low</key>
			<real>127.12</real>
			<key>open</key>
			<real>127.37</real>
			<key>volume</key>
			<real>14452100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>129.19</real>
			<key>close</key>
			<real>129.19</real>
			<key>date</key>
			<date>2009-05-08T04:00:00Z</date>
			<key>high</key>
			<real>131.22999999999999</real>
			<key>low</key>
			<real>126.25999999999999</real>
			<key>open</key>
			<real>129.04000000000002</real>
			<key>volume</key>
			<real>16713000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>129.06</real>
			<key>close</key>
			<real>129.06</real>
			<key>date</key>
			<date>2009-05-07T04:00:00Z</date>
			<key>high</key>
			<real>132.39000000000001</real>
			<key>low</key>
			<real>127.90000000000001</real>
			<key>open</key>
			<real>132.32999999999998</real>
			<key>volume</key>
			<real>18992000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>132.5</real>
			<key>close</key>
			<real>132.5</real>
			<key>date</key>
			<date>2009-05-06T04:00:00Z</date>
			<key>high</key>
			<real>133.5</real>
			<key>low</key>
			<real>130.22</real>
			<key>open</key>
			<real>133.32999999999998</real>
			<key>volume</key>
			<real>16912100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>132.70999999999998</real>
			<key>close</key>
			<real>132.70999999999998</real>
			<key>date</key>
			<date>2009-05-05T04:00:00Z</date>
			<key>high</key>
			<real>132.85999999999999</real>
			<key>low</key>
			<real>131.12</real>
			<key>open</key>
			<real>131.75</real>
			<key>volume</key>
			<real>14223400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>132.06999999999999</real>
			<key>close</key>
			<real>132.06999999999999</real>
			<key>date</key>
			<date>2009-05-04T04:00:00Z</date>
			<key>high</key>
			<real>132.25</real>
			<key>low</key>
			<real>127.67999999999999</real>
			<key>open</key>
			<real>128.24000000000001</real>
			<key>volume</key>
			<real>21762800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>127.24000000000001</real>
			<key>close</key>
			<real>127.24000000000001</real>
			<key>date</key>
			<date>2009-05-01T04:00:00Z</date>
			<key>high</key>
			<real>127.95</real>
			<key>low</key>
			<real>125.8</real>
			<key>open</key>
			<real>125.8</real>
			<key>volume</key>
			<real>14197000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>125.83</real>
			<key>close</key>
			<real>125.83</real>
			<key>date</key>
			<date>2009-04-30T04:00:00Z</date>
			<key>high</key>
			<real>127</real>
			<key>low</key>
			<real>124.92</real>
			<key>open</key>
			<real>126.22</real>
			<key>volume</key>
			<real>17803200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>125.14000000000001</real>
			<key>close</key>
			<real>125.14000000000001</real>
			<key>date</key>
			<date>2009-04-29T04:00:00Z</date>
			<key>high</key>
			<real>126.84999999999999</real>
			<key>low</key>
			<real>123.83</real>
			<key>open</key>
			<real>124.84999999999999</real>
			<key>volume</key>
			<real>16361100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>123.90000000000001</real>
			<key>close</key>
			<real>123.90000000000001</real>
			<key>date</key>
			<date>2009-04-28T04:00:00Z</date>
			<key>high</key>
			<real>126.20999999999999</real>
			<key>low</key>
			<real>123.25999999999999</real>
			<key>open</key>
			<real>123.34999999999999</real>
			<key>volume</key>
			<real>16280600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>124.72999999999999</real>
			<key>close</key>
			<real>124.72999999999999</real>
			<key>date</key>
			<date>2009-04-27T04:00:00Z</date>
			<key>high</key>
			<real>125</real>
			<key>low</key>
			<real>122.66</real>
			<key>open</key>
			<real>122.90000000000001</real>
			<key>volume</key>
			<real>17167500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>123.90000000000001</real>
			<key>close</key>
			<real>123.90000000000001</real>
			<key>date</key>
			<date>2009-04-24T04:00:00Z</date>
			<key>high</key>
			<real>125.14000000000001</real>
			<key>low</key>
			<real>122.97</real>
			<key>open</key>
			<real>124.64000000000001</real>
			<key>volume</key>
			<real>19313000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>125.40000000000001</real>
			<key>close</key>
			<real>125.40000000000001</real>
			<key>date</key>
			<date>2009-04-23T04:00:00Z</date>
			<key>high</key>
			<real>127.2</real>
			<key>low</key>
			<real>123.50999999999999</real>
			<key>open</key>
			<real>126.62</real>
			<key>volume</key>
			<real>33755600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>121.50999999999999</real>
			<key>close</key>
			<real>121.50999999999999</real>
			<key>date</key>
			<date>2009-04-22T04:00:00Z</date>
			<key>high</key>
			<real>125.34999999999999</real>
			<key>low</key>
			<real>121.2</real>
			<key>open</key>
			<real>122.63</real>
			<key>volume</key>
			<real>33527400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>121.75999999999999</real>
			<key>close</key>
			<real>121.75999999999999</real>
			<key>date</key>
			<date>2009-04-21T04:00:00Z</date>
			<key>high</key>
			<real>122.14000000000001</real>
			<key>low</key>
			<real>118.59999999999999</real>
			<key>open</key>
			<real>118.89000000000001</real>
			<key>volume</key>
			<real>16810200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>120.5</real>
			<key>close</key>
			<real>120.5</real>
			<key>date</key>
			<date>2009-04-20T04:00:00Z</date>
			<key>high</key>
			<real>122.99000000000001</real>
			<key>low</key>
			<real>119.16</real>
			<key>open</key>
			<real>121.72999999999999</real>
			<key>volume</key>
			<real>16659500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>123.42</real>
			<key>close</key>
			<real>123.42</real>
			<key>date</key>
			<date>2009-04-17T04:00:00Z</date>
			<key>high</key>
			<real>124.25</real>
			<key>low</key>
			<real>120.25</real>
			<key>open</key>
			<real>121.17999999999999</real>
			<key>volume</key>
			<real>17767700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>121.45</real>
			<key>close</key>
			<real>121.45</real>
			<key>date</key>
			<date>2009-04-16T04:00:00Z</date>
			<key>high</key>
			<real>123.15000000000001</real>
			<key>low</key>
			<real>118.79000000000001</real>
			<key>open</key>
			<real>119.19000000000001</real>
			<key>volume</key>
			<real>21194500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>117.64000000000001</real>
			<key>close</key>
			<real>117.64000000000001</real>
			<key>date</key>
			<date>2009-04-15T04:00:00Z</date>
			<key>high</key>
			<real>118.25</real>
			<key>low</key>
			<real>115.75999999999999</real>
			<key>open</key>
			<real>117.2</real>
			<key>volume</key>
			<real>14745800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>118.30999999999999</real>
			<key>close</key>
			<real>118.30999999999999</real>
			<key>date</key>
			<date>2009-04-14T04:00:00Z</date>
			<key>high</key>
			<real>120.17</real>
			<key>low</key>
			<real>117.25</real>
			<key>open</key>
			<real>119.57000000000001</real>
			<key>volume</key>
			<real>16236500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>120.22</real>
			<key>close</key>
			<real>120.22</real>
			<key>date</key>
			<date>2009-04-13T04:00:00Z</date>
			<key>high</key>
			<real>120.97999999999999</real>
			<key>low</key>
			<real>119</real>
			<key>open</key>
			<real>120.00999999999999</real>
			<key>volume</key>
			<real>13901300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>119.57000000000001</real>
			<key>close</key>
			<real>119.57000000000001</real>
			<key>date</key>
			<date>2009-04-09T04:00:00Z</date>
			<key>high</key>
			<real>120</real>
			<key>low</key>
			<real>117.95999999999999</real>
			<key>open</key>
			<real>118.42</real>
			<key>volume</key>
			<real>18955600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>116.32000000000001</real>
			<key>close</key>
			<real>116.32000000000001</real>
			<key>date</key>
			<date>2009-04-08T04:00:00Z</date>
			<key>high</key>
			<real>116.79000000000001</real>
			<key>low</key>
			<real>114.58</real>
			<key>open</key>
			<real>115.42999999999999</real>
			<key>volume</key>
			<real>16272500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>115</real>
			<key>close</key>
			<real>115</real>
			<key>date</key>
			<date>2009-04-07T04:00:00Z</date>
			<key>high</key>
			<real>116.67</real>
			<key>low</key>
			<real>114.19000000000001</real>
			<key>open</key>
			<real>116.53</real>
			<key>volume</key>
			<real>19163600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>118.45</real>
			<key>close</key>
			<real>118.45</real>
			<key>date</key>
			<date>2009-04-06T04:00:00Z</date>
			<key>high</key>
			<real>118.75</real>
			<key>low</key>
			<real>113.28</real>
			<key>open</key>
			<real>114.94000000000001</real>
			<key>volume</key>
			<real>23502300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>115.99000000000001</real>
			<key>close</key>
			<real>115.99000000000001</real>
			<key>date</key>
			<date>2009-04-03T04:00:00Z</date>
			<key>high</key>
			<real>116.13</real>
			<key>low</key>
			<real>113.52000000000001</real>
			<key>open</key>
			<real>114.19000000000001</real>
			<key>volume</key>
			<real>22722900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>112.70999999999999</real>
			<key>close</key>
			<real>112.70999999999999</real>
			<key>date</key>
			<date>2009-04-02T04:00:00Z</date>
			<key>high</key>
			<real>114.75</real>
			<key>low</key>
			<real>109.78</real>
			<key>open</key>
			<real>110.14000000000001</real>
			<key>volume</key>
			<real>29013100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>108.69000000000001</real>
			<key>close</key>
			<real>108.69000000000001</real>
			<key>date</key>
			<date>2009-04-01T04:00:00Z</date>
			<key>high</key>
			<real>109</real>
			<key>low</key>
			<real>103.89000000000001</real>
			<key>open</key>
			<real>104.09</real>
			<key>volume</key>
			<real>21049000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>105.12</real>
			<key>close</key>
			<real>105.12</real>
			<key>date</key>
			<date>2009-03-31T04:00:00Z</date>
			<key>high</key>
			<real>107.45</real>
			<key>low</key>
			<real>105</real>
			<key>open</key>
			<real>105.45</real>
			<key>volume</key>
			<real>20338500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>104.49000000000001</real>
			<key>close</key>
			<real>104.49000000000001</real>
			<key>date</key>
			<date>2009-03-30T04:00:00Z</date>
			<key>high</key>
			<real>105.00999999999999</real>
			<key>low</key>
			<real>102.60999999999999</real>
			<key>open</key>
			<real>104.50999999999999</real>
			<key>volume</key>
			<real>17957000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>106.84999999999999</real>
			<key>close</key>
			<real>106.84999999999999</real>
			<key>date</key>
			<date>2009-03-27T04:00:00Z</date>
			<key>high</key>
			<real>108.53</real>
			<key>low</key>
			<real>106.40000000000001</real>
			<key>open</key>
			<real>108.22999999999999</real>
			<key>volume</key>
			<real>17602600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>109.87</real>
			<key>close</key>
			<real>109.87</real>
			<key>date</key>
			<date>2009-03-26T04:00:00Z</date>
			<key>high</key>
			<real>109.97999999999999</real>
			<key>low</key>
			<real>107.58</real>
			<key>open</key>
			<real>107.83</real>
			<key>volume</key>
			<real>22009000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>106.49000000000001</real>
			<key>close</key>
			<real>106.49000000000001</real>
			<key>date</key>
			<date>2009-03-25T04:00:00Z</date>
			<key>high</key>
			<real>108.35999999999999</real>
			<key>low</key>
			<real>103.85999999999999</real>
			<key>open</key>
			<real>107.58</real>
			<key>volume</key>
			<real>23093500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>106.5</real>
			<key>close</key>
			<real>106.5</real>
			<key>date</key>
			<date>2009-03-24T04:00:00Z</date>
			<key>high</key>
			<real>109.44000000000001</real>
			<key>low</key>
			<real>105.39000000000001</real>
			<key>open</key>
			<real>106.35999999999999</real>
			<key>volume</key>
			<real>22879000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>107.66</real>
			<key>close</key>
			<real>107.66</real>
			<key>date</key>
			<date>2009-03-23T04:00:00Z</date>
			<key>high</key>
			<real>108.16</real>
			<key>low</key>
			<real>101.75</real>
			<key>open</key>
			<real>102.70999999999999</real>
			<key>volume</key>
			<real>23799900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>101.59</real>
			<key>close</key>
			<real>101.59</real>
			<key>date</key>
			<date>2009-03-20T04:00:00Z</date>
			<key>high</key>
			<real>103.10999999999999</real>
			<key>low</key>
			<real>100.57000000000001</real>
			<key>open</key>
			<real>102.09</real>
			<key>volume</key>
			<real>24842400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>101.62</real>
			<key>close</key>
			<real>101.62</real>
			<key>date</key>
			<date>2009-03-19T04:00:00Z</date>
			<key>high</key>
			<real>103.2</real>
			<key>low</key>
			<real>100.25</real>
			<key>open</key>
			<real>101.84999999999999</real>
			<key>volume</key>
			<real>17863600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>101.52000000000001</real>
			<key>close</key>
			<real>101.52000000000001</real>
			<key>date</key>
			<date>2009-03-18T04:00:00Z</date>
			<key>high</key>
			<real>103.47999999999999</real>
			<key>low</key>
			<real>99.719999999999999</real>
			<key>open</key>
			<real>99.909999999999997</real>
			<key>volume</key>
			<real>28429900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>99.659999999999997</real>
			<key>close</key>
			<real>99.659999999999997</real>
			<key>date</key>
			<date>2009-03-17T04:00:00Z</date>
			<key>high</key>
			<real>99.689999999999998</real>
			<key>low</key>
			<real>95.070000000000007</real>
			<key>open</key>
			<real>95.239999999999995</real>
			<key>volume</key>
			<real>28094500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>95.420000000000002</real>
			<key>close</key>
			<real>95.420000000000002</real>
			<key>date</key>
			<date>2009-03-16T04:00:00Z</date>
			<key>high</key>
			<real>97.390000000000001</real>
			<key>low</key>
			<real>94.179999999999993</real>
			<key>open</key>
			<real>96.530000000000001</real>
			<key>volume</key>
			<real>28473000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>95.929999999999993</real>
			<key>close</key>
			<real>95.929999999999993</real>
			<key>date</key>
			<date>2009-03-13T04:00:00Z</date>
			<key>high</key>
			<real>97.200000000000003</real>
			<key>low</key>
			<real>95.010000000000005</real>
			<key>open</key>
			<real>96.299999999999997</real>
			<key>volume</key>
			<real>21470300</real>
		</dict>
	</array>
	<key>overallHigh</key>
	<real>146.40000000000001</real>
	<key>overallLow</key>
	<real>94.179999999999993</real>
	<key>startDate</key>
	<date>2009-03-13T06:53:47Z</date>
	<key>symbol</key>
	<string>AAPL</string>
</dict>
</plist>
