<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDate</key>
	<date>2009-06-19T06:53:47Z</date>
	<key>financalData</key>
	<array>
		<dict>
			<key>adjClose</key>
			<real>414.06000000000006</real>
			<key>close</key>
			<real>414.06000000000006</real>
			<key>date</key>
			<date>2009-06-18T04:00:00Z</date>
			<key>high</key>
			<real>418.68999999999994</real>
			<key>low</key>
			<real>413</real>
			<key>open</key>
			<real>415.68000000000001</real>
			<key>volume</key>
			<real>3085200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>415.16000000000003</real>
			<key>close</key>
			<real>415.16000000000003</real>
			<key>date</key>
			<date>2009-06-17T04:00:00Z</date>
			<key>high</key>
			<real>419.71999999999997</real>
			<key>low</key>
			<real>411.56000000000006</real>
			<key>open</key>
			<real>416.18999999999994</real>
			<key>volume</key>
			<real>3490100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>416</real>
			<key>close</key>
			<real>416</real>
			<key>date</key>
			<date>2009-06-16T04:00:00Z</date>
			<key>high</key>
			<real>421.08999999999997</real>
			<key>low</key>
			<real>415.41999999999996</real>
			<key>open</key>
			<real>419.31000000000006</real>
			<key>volume</key>
			<real>3049700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>416.76999999999998</real>
			<key>close</key>
			<real>416.76999999999998</real>
			<key>date</key>
			<date>2009-06-15T04:00:00Z</date>
			<key>high</key>
			<real>421.5</real>
			<key>low</key>
			<real>414</real>
			<key>open</key>
			<real>421.5</real>
			<key>volume</key>
			<real>3736900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>424.83999999999997</real>
			<key>close</key>
			<real>424.83999999999997</real>
			<key>date</key>
			<date>2009-06-12T04:00:00Z</date>
			<key>high</key>
			<real>427.69999999999999</real>
			<key>low</key>
			<real>421.21000000000004</real>
			<key>open</key>
			<real>426.86000000000001</real>
			<key>volume</key>
			<real>2918400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>429</real>
			<key>close</key>
			<real>429</real>
			<key>date</key>
			<date>2009-06-11T04:00:00Z</date>
			<key>high</key>
			<real>433.73000000000002</real>
			<key>low</key>
			<real>428.37</real>
			<key>open</key>
			<real>431.76999999999998</real>
			<key>volume</key>
			<real>2865200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>432.60000000000002</real>
			<key>close</key>
			<real>432.60000000000002</real>
			<key>date</key>
			<date>2009-06-10T04:00:00Z</date>
			<key>high</key>
			<real>437.88999999999999</real>
			<key>low</key>
			<real>426.66999999999996</real>
			<key>open</key>
			<real>436.23000000000002</real>
			<key>volume</key>
			<real>3358900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>435.62</real>
			<key>close</key>
			<real>435.62</real>
			<key>date</key>
			<date>2009-06-09T04:00:00Z</date>
			<key>high</key>
			<real>440.5</real>
			<key>low</key>
			<real>431.76000000000005</real>
			<key>open</key>
			<real>438.58000000000004</real>
			<key>volume</key>
			<real>3254900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>438.76999999999998</real>
			<key>close</key>
			<real>438.76999999999998</real>
			<key>date</key>
			<date>2009-06-08T04:00:00Z</date>
			<key>high</key>
			<real>440.91999999999996</real>
			<key>low</key>
			<real>434.12</real>
			<key>open</key>
			<real>439.5</real>
			<key>volume</key>
			<real>3098700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>444.31999999999999</real>
			<key>close</key>
			<real>444.31999999999999</real>
			<key>date</key>
			<date>2009-06-05T04:00:00Z</date>
			<key>high</key>
			<real>447.33999999999997</real>
			<key>low</key>
			<real>439.46000000000004</real>
			<key>open</key>
			<real>445.06999999999999</real>
			<key>volume</key>
			<real>3680800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>440.28000000000003</real>
			<key>close</key>
			<real>440.28000000000003</real>
			<key>date</key>
			<date>2009-06-04T04:00:00Z</date>
			<key>high</key>
			<real>441.23999999999995</real>
			<key>low</key>
			<real>434.5</real>
			<key>open</key>
			<real>435.30000000000001</real>
			<key>volume</key>
			<real>3638100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>431.64999999999998</real>
			<key>close</key>
			<real>431.64999999999998</real>
			<key>date</key>
			<date>2009-06-03T04:00:00Z</date>
			<key>high</key>
			<real>432.46000000000004</real>
			<key>low</key>
			<real>424</real>
			<key>open</key>
			<real>426</real>
			<key>volume</key>
			<real>3532800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>428.39999999999998</real>
			<key>close</key>
			<real>428.39999999999998</real>
			<key>date</key>
			<date>2009-06-02T04:00:00Z</date>
			<key>high</key>
			<real>429.96000000000004</real>
			<key>low</key>
			<real>423.39999999999998</real>
			<key>open</key>
			<real>426.25</real>
			<key>volume</key>
			<real>2623600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>426.56000000000006</real>
			<key>close</key>
			<real>426.56000000000006</real>
			<key>date</key>
			<date>2009-06-01T04:00:00Z</date>
			<key>high</key>
			<real>429.60000000000002</real>
			<key>low</key>
			<real>418.53000000000003</real>
			<key>open</key>
			<real>418.73000000000002</real>
			<key>volume</key>
			<real>3322400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>417.23000000000002</real>
			<key>close</key>
			<real>417.23000000000002</real>
			<key>date</key>
			<date>2009-05-29T04:00:00Z</date>
			<key>high</key>
			<real>417.23000000000002</real>
			<key>low</key>
			<real>410.69999999999999</real>
			<key>open</key>
			<real>412.11000000000001</real>
			<key>volume</key>
			<real>2648200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>410.39999999999998</real>
			<key>close</key>
			<real>410.39999999999998</real>
			<key>date</key>
			<date>2009-05-28T04:00:00Z</date>
			<key>high</key>
			<real>411.62</real>
			<key>low</key>
			<real>404.61000000000001</real>
			<key>open</key>
			<real>408.68000000000001</real>
			<key>volume</key>
			<real>2668800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>405.56</real>
			<key>close</key>
			<real>405.56</real>
			<key>date</key>
			<date>2009-05-27T04:00:00Z</date>
			<key>high</key>
			<real>411.86000000000001</real>
			<key>low</key>
			<real>404.81</real>
			<key>open</key>
			<real>405.63999999999999</real>
			<key>volume</key>
			<real>3034300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>404.36000000000001</real>
			<key>close</key>
			<real>404.36000000000001</real>
			<key>date</key>
			<date>2009-05-26T04:00:00Z</date>
			<key>high</key>
			<real>405</real>
			<key>low</key>
			<real>390</real>
			<key>open</key>
			<real>391.94999999999999</real>
			<key>volume</key>
			<real>3104500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>393.5</real>
			<key>close</key>
			<real>393.5</real>
			<key>date</key>
			<date>2009-05-22T04:00:00Z</date>
			<key>high</key>
			<real>398.64999999999998</real>
			<key>low</key>
			<real>392</real>
			<key>open</key>
			<real>396.65999999999997</real>
			<key>volume</key>
			<real>1718600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>396.5</real>
			<key>close</key>
			<real>396.5</real>
			<key>date</key>
			<date>2009-05-21T04:00:00Z</date>
			<key>high</key>
			<real>402.84000000000003</real>
			<key>low</key>
			<real>393.84000000000003</real>
			<key>open</key>
			<real>396.30000000000001</real>
			<key>volume</key>
			<real>2719800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>397.18000000000001</real>
			<key>close</key>
			<real>397.18000000000001</real>
			<key>date</key>
			<date>2009-05-20T04:00:00Z</date>
			<key>high</key>
			<real>405.66999999999996</real>
			<key>low</key>
			<real>395</real>
			<key>open</key>
			<real>402.09000000000003</real>
			<key>volume</key>
			<real>2284000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>398.88</real>
			<key>close</key>
			<real>398.88</real>
			<key>date</key>
			<date>2009-05-19T04:00:00Z</date>
			<key>high</key>
			<real>401.63999999999999</real>
			<key>low</key>
			<real>393</real>
			<key>open</key>
			<real>396.10000000000002</real>
			<key>volume</key>
			<real>2837500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>396.84000000000003</real>
			<key>close</key>
			<real>396.84000000000003</real>
			<key>date</key>
			<date>2009-05-18T04:00:00Z</date>
			<key>high</key>
			<real>397.31</real>
			<key>low</key>
			<real>385.39999999999998</real>
			<key>open</key>
			<real>394.73000000000002</real>
			<key>volume</key>
			<real>3351700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>390</real>
			<key>close</key>
			<real>390</real>
			<key>date</key>
			<date>2009-05-15T04:00:00Z</date>
			<key>high</key>
			<real>394.11000000000001</real>
			<key>low</key>
			<real>389.09000000000003</real>
			<key>open</key>
			<real>391.10000000000002</real>
			<key>volume</key>
			<real>3008700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>387.5</real>
			<key>close</key>
			<real>387.5</real>
			<key>date</key>
			<date>2009-05-14T04:00:00Z</date>
			<key>high</key>
			<real>392.20999999999998</real>
			<key>low</key>
			<real>384.69</real>
			<key>open</key>
			<real>388.80000000000001</real>
			<key>volume</key>
			<real>2937000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>389.54000000000002</real>
			<key>close</key>
			<real>389.54000000000002</real>
			<key>date</key>
			<date>2009-05-13T04:00:00Z</date>
			<key>high</key>
			<real>396.38999999999999</real>
			<key>low</key>
			<real>388.35000000000002</real>
			<key>open</key>
			<real>394.09000000000003</real>
			<key>volume</key>
			<real>2842800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>399.00999999999999</real>
			<key>close</key>
			<real>399.00999999999999</real>
			<key>date</key>
			<date>2009-05-12T04:00:00Z</date>
			<key>high</key>
			<real>410.98999999999995</real>
			<key>low</key>
			<real>395.11000000000001</real>
			<key>open</key>
			<real>410.01000000000005</real>
			<key>volume</key>
			<real>3790800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>407.98000000000002</real>
			<key>close</key>
			<real>407.98000000000002</real>
			<key>date</key>
			<date>2009-05-11T04:00:00Z</date>
			<key>high</key>
			<real>412</real>
			<key>low</key>
			<real>401.19999999999999</real>
			<key>open</key>
			<real>402.80000000000001</real>
			<key>volume</key>
			<real>2559300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>407.33000000000004</real>
			<key>close</key>
			<real>407.33000000000004</real>
			<key>date</key>
			<date>2009-05-08T04:00:00Z</date>
			<key>high</key>
			<real>410.13</real>
			<key>low</key>
			<real>395</real>
			<key>open</key>
			<real>402.85000000000002</real>
			<key>volume</key>
			<real>3865100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>396.61000000000001</real>
			<key>close</key>
			<real>396.61000000000001</real>
			<key>date</key>
			<date>2009-05-07T04:00:00Z</date>
			<key>high</key>
			<real>404.99000000000001</real>
			<key>low</key>
			<real>392.5</real>
			<key>open</key>
			<real>404.10000000000002</real>
			<key>volume</key>
			<real>2999800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>403.46999999999997</real>
			<key>close</key>
			<real>403.46999999999997</real>
			<key>date</key>
			<date>2009-05-06T04:00:00Z</date>
			<key>high</key>
			<real>408.28000000000003</real>
			<key>low</key>
			<real>401</real>
			<key>open</key>
			<real>406.79000000000002</real>
			<key>volume</key>
			<real>2632900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>402.99000000000001</real>
			<key>close</key>
			<real>402.99000000000001</real>
			<key>date</key>
			<date>2009-05-05T04:00:00Z</date>
			<key>high</key>
			<real>405</real>
			<key>low</key>
			<real>397.25</real>
			<key>open</key>
			<real>399.98000000000002</real>
			<key>volume</key>
			<real>2400800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>401.98000000000002</real>
			<key>close</key>
			<real>401.98000000000002</real>
			<key>date</key>
			<date>2009-05-04T04:00:00Z</date>
			<key>high</key>
			<real>402.39999999999998</real>
			<key>low</key>
			<real>394.79000000000002</real>
			<key>open</key>
			<real>398.16999999999996</real>
			<key>volume</key>
			<real>3203000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>393.69</real>
			<key>close</key>
			<real>393.69</real>
			<key>date</key>
			<date>2009-05-01T04:00:00Z</date>
			<key>high</key>
			<real>397.59000000000003</real>
			<key>low</key>
			<real>391.55000000000001</real>
			<key>open</key>
			<real>395.03000000000003</real>
			<key>volume</key>
			<real>2427700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>395.96999999999997</real>
			<key>close</key>
			<real>395.96999999999997</real>
			<key>date</key>
			<date>2009-04-30T04:00:00Z</date>
			<key>high</key>
			<real>403.75</real>
			<key>low</key>
			<real>394.80000000000001</real>
			<key>open</key>
			<real>395.75999999999999</real>
			<key>volume</key>
			<real>4355700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>391.46999999999997</real>
			<key>close</key>
			<real>391.46999999999997</real>
			<key>date</key>
			<date>2009-04-29T04:00:00Z</date>
			<key>high</key>
			<real>394.96999999999997</real>
			<key>low</key>
			<real>385.83000000000004</real>
			<key>open</key>
			<real>385.96999999999997</real>
			<key>volume</key>
			<real>3610000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>383.70999999999998</real>
			<key>close</key>
			<real>383.70999999999998</real>
			<key>date</key>
			<date>2009-04-28T04:00:00Z</date>
			<key>high</key>
			<real>389.05000000000001</real>
			<key>low</key>
			<real>381.54000000000002</real>
			<key>open</key>
			<real>383.75</real>
			<key>volume</key>
			<real>2943600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>385.94999999999999</real>
			<key>close</key>
			<real>385.94999999999999</real>
			<key>date</key>
			<date>2009-04-27T04:00:00Z</date>
			<key>high</key>
			<real>389.49000000000001</real>
			<key>low</key>
			<real>382.75</real>
			<key>open</key>
			<real>384.34000000000003</real>
			<key>volume</key>
			<real>2290600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>389.49000000000001</real>
			<key>close</key>
			<real>389.49000000000001</real>
			<key>date</key>
			<date>2009-04-24T04:00:00Z</date>
			<key>high</key>
			<real>393.18000000000001</real>
			<key>low</key>
			<real>380.5</real>
			<key>open</key>
			<real>386.05000000000001</real>
			<key>volume</key>
			<real>3385400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>384.69</real>
			<key>close</key>
			<real>384.69</real>
			<key>date</key>
			<date>2009-04-23T04:00:00Z</date>
			<key>high</key>
			<real>389.75</real>
			<key>low</key>
			<real>381.11000000000001</real>
			<key>open</key>
			<real>387.50999999999999</real>
			<key>volume</key>
			<real>2609000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>383.86000000000001</real>
			<key>close</key>
			<real>383.86000000000001</real>
			<key>date</key>
			<date>2009-04-22T04:00:00Z</date>
			<key>high</key>
			<real>390</real>
			<key>low</key>
			<real>379.00999999999999</real>
			<key>open</key>
			<real>381.75</real>
			<key>volume</key>
			<real>3501800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>381.46999999999997</real>
			<key>close</key>
			<real>381.46999999999997</real>
			<key>date</key>
			<date>2009-04-21T04:00:00Z</date>
			<key>high</key>
			<real>384.30000000000001</real>
			<key>low</key>
			<real>376.10000000000002</real>
			<key>open</key>
			<real>376.16999999999996</real>
			<key>volume</key>
			<real>3695400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>379.30000000000001</real>
			<key>close</key>
			<real>379.30000000000001</real>
			<key>date</key>
			<date>2009-04-20T04:00:00Z</date>
			<key>high</key>
			<real>390.64999999999998</real>
			<key>low</key>
			<real>375.88999999999999</real>
			<key>open</key>
			<real>386.14999999999998</real>
			<key>volume</key>
			<real>4428900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>392.24000000000001</real>
			<key>close</key>
			<real>392.24000000000001</real>
			<key>date</key>
			<date>2009-04-17T04:00:00Z</date>
			<key>high</key>
			<real>399.81999999999999</real>
			<key>low</key>
			<real>384.81</real>
			<key>open</key>
			<real>386.01999999999998</real>
			<key>volume</key>
			<real>10730800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>388.74000000000001</real>
			<key>close</key>
			<real>388.74000000000001</real>
			<key>date</key>
			<date>2009-04-16T04:00:00Z</date>
			<key>high</key>
			<real>392.89999999999998</real>
			<key>low</key>
			<real>381.01999999999998</real>
			<key>open</key>
			<real>381.5</real>
			<key>volume</key>
			<real>10185100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>379.5</real>
			<key>close</key>
			<real>379.5</real>
			<key>date</key>
			<date>2009-04-15T04:00:00Z</date>
			<key>high</key>
			<real>381.06</real>
			<key>low</key>
			<real>364.15999999999997</real>
			<key>open</key>
			<real>367.10000000000002</real>
			<key>volume</key>
			<real>4930700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>368.90999999999997</real>
			<key>close</key>
			<real>368.90999999999997</real>
			<key>date</key>
			<date>2009-04-14T04:00:00Z</date>
			<key>high</key>
			<real>376.99000000000001</real>
			<key>low</key>
			<real>365.60000000000002</real>
			<key>open</key>
			<real>376.94</real>
			<key>volume</key>
			<real>3428600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>378.11000000000001</real>
			<key>close</key>
			<real>378.11000000000001</real>
			<key>date</key>
			<date>2009-04-13T04:00:00Z</date>
			<key>high</key>
			<real>379.10000000000002</real>
			<key>low</key>
			<real>370.30000000000001</real>
			<key>open</key>
			<real>371.33000000000004</real>
			<key>volume</key>
			<real>3050100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>372.5</real>
			<key>close</key>
			<real>372.5</real>
			<key>date</key>
			<date>2009-04-09T04:00:00Z</date>
			<key>high</key>
			<real>374.35000000000002</real>
			<key>low</key>
			<real>366.25</real>
			<key>open</key>
			<real>369.5</real>
			<key>volume</key>
			<real>3382600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>362</real>
			<key>close</key>
			<real>362</real>
			<key>date</key>
			<date>2009-04-08T04:00:00Z</date>
			<key>high</key>
			<real>365</real>
			<key>low</key>
			<real>356.20999999999998</real>
			<key>open</key>
			<real>363.5</real>
			<key>volume</key>
			<real>2765200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>358.64999999999998</real>
			<key>close</key>
			<real>358.64999999999998</real>
			<key>date</key>
			<date>2009-04-07T04:00:00Z</date>
			<key>high</key>
			<real>363.75</real>
			<key>low</key>
			<real>355.31</real>
			<key>open</key>
			<real>362.60000000000002</real>
			<key>volume</key>
			<real>3680100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>368.24000000000001</real>
			<key>close</key>
			<real>368.24000000000001</real>
			<key>date</key>
			<date>2009-04-06T04:00:00Z</date>
			<key>high</key>
			<real>369.81999999999999</real>
			<key>low</key>
			<real>361.39999999999998</real>
			<key>open</key>
			<real>367</real>
			<key>volume</key>
			<real>3280300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>369.78000000000003</real>
			<key>close</key>
			<real>369.78000000000003</real>
			<key>date</key>
			<date>2009-04-03T04:00:00Z</date>
			<key>high</key>
			<real>371.71999999999997</real>
			<key>low</key>
			<real>358</real>
			<key>open</key>
			<real>364.5</real>
			<key>volume</key>
			<real>3789800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>362.5</real>
			<key>close</key>
			<real>362.5</real>
			<key>date</key>
			<date>2009-04-02T04:00:00Z</date>
			<key>high</key>
			<real>369.75999999999999</real>
			<key>low</key>
			<real>360.31999999999999</real>
			<key>open</key>
			<real>363.31</real>
			<key>volume</key>
			<real>4488000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>354.09000000000003</real>
			<key>close</key>
			<real>354.09000000000003</real>
			<key>date</key>
			<date>2009-04-01T04:00:00Z</date>
			<key>high</key>
			<real>355.24000000000001</real>
			<key>low</key>
			<real>340.61000000000001</real>
			<key>open</key>
			<real>343.78000000000003</real>
			<key>volume</key>
			<real>3301200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>348.06</real>
			<key>close</key>
			<real>348.06</real>
			<key>date</key>
			<date>2009-03-31T04:00:00Z</date>
			<key>high</key>
			<real>353.50999999999999</real>
			<key>low</key>
			<real>346.18000000000001</real>
			<key>open</key>
			<real>348.93000000000001</real>
			<key>volume</key>
			<real>3655300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>342.69</real>
			<key>close</key>
			<real>342.69</real>
			<key>date</key>
			<date>2009-03-30T04:00:00Z</date>
			<key>high</key>
			<real>343.81</real>
			<key>low</key>
			<real>336.05000000000001</real>
			<key>open</key>
			<real>342.55000000000001</real>
			<key>volume</key>
			<real>3094100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>347.69999999999999</real>
			<key>close</key>
			<real>347.69999999999999</real>
			<key>date</key>
			<date>2009-03-27T04:00:00Z</date>
			<key>high</key>
			<real>352</real>
			<key>low</key>
			<real>345.46999999999997</real>
			<key>open</key>
			<real>350</real>
			<key>volume</key>
			<real>3322800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>353.29000000000002</real>
			<key>close</key>
			<real>353.29000000000002</real>
			<key>date</key>
			<date>2009-03-26T04:00:00Z</date>
			<key>high</key>
			<real>359.15999999999997</real>
			<key>low</key>
			<real>348.5</real>
			<key>open</key>
			<real>353.13</real>
			<key>volume</key>
			<real>6003300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>344.06999999999999</real>
			<key>close</key>
			<real>344.06999999999999</real>
			<key>date</key>
			<date>2009-03-25T04:00:00Z</date>
			<key>high</key>
			<real>351.34000000000003</real>
			<key>low</key>
			<real>336.25</real>
			<key>open</key>
			<real>350.39999999999998</real>
			<key>volume</key>
			<real>4336300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>347.16999999999996</real>
			<key>close</key>
			<real>347.16999999999996</real>
			<key>date</key>
			<date>2009-03-24T04:00:00Z</date>
			<key>high</key>
			<real>353.84000000000003</real>
			<key>low</key>
			<real>344</real>
			<key>open</key>
			<real>346.5</real>
			<key>volume</key>
			<real>3820000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>348.60000000000002</real>
			<key>close</key>
			<real>348.60000000000002</real>
			<key>date</key>
			<date>2009-03-23T04:00:00Z</date>
			<key>high</key>
			<real>349.44999999999999</real>
			<key>low</key>
			<real>333.03000000000003</real>
			<key>open</key>
			<real>333.56</real>
			<key>volume</key>
			<real>4271500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>330.15999999999997</real>
			<key>close</key>
			<real>330.15999999999997</real>
			<key>date</key>
			<date>2009-03-20T04:00:00Z</date>
			<key>high</key>
			<real>332.99000000000001</real>
			<key>low</key>
			<real>326.34000000000003</real>
			<key>open</key>
			<real>330.30000000000001</real>
			<key>volume</key>
			<real>4737900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>329.94</real>
			<key>close</key>
			<real>329.94</real>
			<key>date</key>
			<date>2009-03-19T04:00:00Z</date>
			<key>high</key>
			<real>336</real>
			<key>low</key>
			<real>327.38</real>
			<key>open</key>
			<real>331.68000000000001</real>
			<key>volume</key>
			<real>4111200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>333.10000000000002</real>
			<key>close</key>
			<real>333.10000000000002</real>
			<key>date</key>
			<date>2009-03-18T04:00:00Z</date>
			<key>high</key>
			<real>340</real>
			<key>low</key>
			<real>328.05000000000001</real>
			<key>open</key>
			<real>334.81</real>
			<key>volume</key>
			<real>5012200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>335.34000000000003</real>
			<key>close</key>
			<real>335.34000000000003</real>
			<key>date</key>
			<date>2009-03-17T04:00:00Z</date>
			<key>high</key>
			<real>335.34000000000003</real>
			<key>low</key>
			<real>319.09000000000003</real>
			<key>open</key>
			<real>320.18000000000001</real>
			<key>volume</key>
			<real>4712500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>319.69</real>
			<key>close</key>
			<real>319.69</real>
			<key>date</key>
			<date>2009-03-16T04:00:00Z</date>
			<key>high</key>
			<real>329.73000000000002</real>
			<key>low</key>
			<real>318.59000000000003</real>
			<key>open</key>
			<real>325.99000000000001</real>
			<key>volume</key>
			<real>4946800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>324.41999999999996</real>
			<key>close</key>
			<real>324.41999999999996</real>
			<key>date</key>
			<date>2009-03-13T04:00:00Z</date>
			<key>high</key>
			<real>327.45999999999998</real>
			<key>low</key>
			<real>319.03000000000003</real>
			<key>open</key>
			<real>326.10000000000002</real>
			<key>volume</key>
			<real>3906400</real>
		</dict>
	</array>
	<key>overallHigh</key>
	<real>447.33999999999997</real>
	<key>overallLow</key>
	<real>318.59000000000003</real>
	<key>startDate</key>
	<date>2009-03-13T06:53:47Z</date>
	<key>symbol</key>
	<string>GOOG</string>
</dict>
</plist>
