<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDate</key>
	<date>2009-06-19T06:53:47Z</date>
	<key>financalData</key>
	<array>
		<dict>
			<key>adjClose</key>
			<real>15.34</real>
			<key>close</key>
			<real>15.34</real>
			<key>date</key>
			<date>2009-06-18T04:00:00Z</date>
			<key>high</key>
			<real>15.640000000000001</real>
			<key>low</key>
			<real>15.23</real>
			<key>open</key>
			<real>15.619999999999999</real>
			<key>volume</key>
			<real>16185400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.6</real>
			<key>close</key>
			<real>15.6</real>
			<key>date</key>
			<date>2009-06-17T04:00:00Z</date>
			<key>high</key>
			<real>16.030000000000001</real>
			<key>low</key>
			<real>15.459999999999999</real>
			<key>open</key>
			<real>15.91</real>
			<key>volume</key>
			<real>16159600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.959999999999999</real>
			<key>close</key>
			<real>15.959999999999999</real>
			<key>date</key>
			<date>2009-06-16T04:00:00Z</date>
			<key>high</key>
			<real>16.380000000000003</real>
			<key>low</key>
			<real>15.9</real>
			<key>open</key>
			<real>16.330000000000002</real>
			<key>volume</key>
			<real>15116000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.399999999999999</real>
			<key>close</key>
			<real>16.399999999999999</real>
			<key>date</key>
			<date>2009-06-15T04:00:00Z</date>
			<key>high</key>
			<real>16.68</real>
			<key>low</key>
			<real>16.130000000000003</real>
			<key>open</key>
			<real>16.559999999999999</real>
			<key>volume</key>
			<real>23251700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.399999999999999</real>
			<key>close</key>
			<real>16.399999999999999</real>
			<key>date</key>
			<date>2009-06-12T04:00:00Z</date>
			<key>high</key>
			<real>16.469999999999999</real>
			<key>low</key>
			<real>16.100000000000001</real>
			<key>open</key>
			<real>16.169999999999998</real>
			<key>volume</key>
			<real>16962900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.190000000000001</real>
			<key>close</key>
			<real>16.190000000000001</real>
			<key>date</key>
			<date>2009-06-11T04:00:00Z</date>
			<key>high</key>
			<real>16.460000000000001</real>
			<key>low</key>
			<real>16.149999999999999</real>
			<key>open</key>
			<real>16.259999999999998</real>
			<key>volume</key>
			<real>14787400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.32</real>
			<key>close</key>
			<real>16.32</real>
			<key>date</key>
			<date>2009-06-10T04:00:00Z</date>
			<key>high</key>
			<real>16.719999999999999</real>
			<key>low</key>
			<real>16.100000000000001</real>
			<key>open</key>
			<real>16.699999999999999</real>
			<key>volume</key>
			<real>15761000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.399999999999999</real>
			<key>close</key>
			<real>16.399999999999999</real>
			<key>date</key>
			<date>2009-06-09T04:00:00Z</date>
			<key>high</key>
			<real>16.5</real>
			<key>low</key>
			<real>16.18</real>
			<key>open</key>
			<real>16.23</real>
			<key>volume</key>
			<real>13083200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.190000000000001</real>
			<key>close</key>
			<real>16.190000000000001</real>
			<key>date</key>
			<date>2009-06-08T04:00:00Z</date>
			<key>high</key>
			<real>16.490000000000002</real>
			<key>low</key>
			<real>16.039999999999999</real>
			<key>open</key>
			<real>16.469999999999999</real>
			<key>volume</key>
			<real>13680700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.640000000000001</real>
			<key>close</key>
			<real>16.640000000000001</real>
			<key>date</key>
			<date>2009-06-05T04:00:00Z</date>
			<key>high</key>
			<real>16.990000000000002</real>
			<key>low</key>
			<real>16.300000000000001</real>
			<key>open</key>
			<real>16.77</real>
			<key>volume</key>
			<real>17311400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.649999999999999</real>
			<key>close</key>
			<real>16.649999999999999</real>
			<key>date</key>
			<date>2009-06-04T04:00:00Z</date>
			<key>high</key>
			<real>16.710000000000001</real>
			<key>low</key>
			<real>16.039999999999999</real>
			<key>open</key>
			<real>16.399999999999999</real>
			<key>volume</key>
			<real>19001400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.300000000000001</real>
			<key>close</key>
			<real>16.300000000000001</real>
			<key>date</key>
			<date>2009-06-03T04:00:00Z</date>
			<key>high</key>
			<real>16.5</real>
			<key>low</key>
			<real>15.669999999999998</real>
			<key>open</key>
			<real>16.5</real>
			<key>volume</key>
			<real>26358100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.619999999999997</real>
			<key>close</key>
			<real>16.619999999999997</real>
			<key>date</key>
			<date>2009-06-02T04:00:00Z</date>
			<key>high</key>
			<real>16.75</real>
			<key>low</key>
			<real>16.25</real>
			<key>open</key>
			<real>16.600000000000001</real>
			<key>volume</key>
			<real>15286700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.580000000000002</real>
			<key>close</key>
			<real>16.580000000000002</real>
			<key>date</key>
			<date>2009-06-01T04:00:00Z</date>
			<key>high</key>
			<real>16.649999999999999</real>
			<key>low</key>
			<real>16.130000000000003</real>
			<key>open</key>
			<real>16.169999999999998</real>
			<key>volume</key>
			<real>27926100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.84</real>
			<key>close</key>
			<real>15.84</real>
			<key>date</key>
			<date>2009-05-29T04:00:00Z</date>
			<key>high</key>
			<real>15.84</real>
			<key>low</key>
			<real>15.109999999999999</real>
			<key>open</key>
			<real>15.190000000000001</real>
			<key>volume</key>
			<real>29557500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.09</real>
			<key>close</key>
			<real>15.09</real>
			<key>date</key>
			<date>2009-05-28T04:00:00Z</date>
			<key>high</key>
			<real>15.24</real>
			<key>low</key>
			<real>14.690000000000001</real>
			<key>open</key>
			<real>15.09</real>
			<key>volume</key>
			<real>19131600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.940000000000001</real>
			<key>close</key>
			<real>14.940000000000001</real>
			<key>date</key>
			<date>2009-05-27T04:00:00Z</date>
			<key>high</key>
			<real>15.530000000000001</real>
			<key>low</key>
			<real>14.880000000000001</real>
			<key>open</key>
			<real>15.27</real>
			<key>volume</key>
			<real>18977400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.280000000000001</real>
			<key>close</key>
			<real>15.280000000000001</real>
			<key>date</key>
			<date>2009-05-26T04:00:00Z</date>
			<key>high</key>
			<real>15.440000000000001</real>
			<key>low</key>
			<real>14.669999999999998</real>
			<key>open</key>
			<real>14.680000000000001</real>
			<key>volume</key>
			<real>19953000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.98</real>
			<key>close</key>
			<real>14.98</real>
			<key>date</key>
			<date>2009-05-22T04:00:00Z</date>
			<key>high</key>
			<real>15.169999999999998</real>
			<key>low</key>
			<real>14.75</real>
			<key>open</key>
			<real>14.890000000000001</real>
			<key>volume</key>
			<real>19150500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.869999999999999</real>
			<key>close</key>
			<real>14.869999999999999</real>
			<key>date</key>
			<date>2009-05-21T04:00:00Z</date>
			<key>high</key>
			<real>15.119999999999999</real>
			<key>low</key>
			<real>14.619999999999999</real>
			<key>open</key>
			<real>14.919999999999998</real>
			<key>volume</key>
			<real>15186800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.959999999999999</real>
			<key>close</key>
			<real>14.959999999999999</real>
			<key>date</key>
			<date>2009-05-20T04:00:00Z</date>
			<key>high</key>
			<real>15.309999999999999</real>
			<key>low</key>
			<real>14.800000000000001</real>
			<key>open</key>
			<real>15.080000000000002</real>
			<key>volume</key>
			<real>15781600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.180000000000001</real>
			<key>close</key>
			<real>15.180000000000001</real>
			<key>date</key>
			<date>2009-05-19T04:00:00Z</date>
			<key>high</key>
			<real>15.34</real>
			<key>low</key>
			<real>15.02</real>
			<key>open</key>
			<real>15.059999999999999</real>
			<key>volume</key>
			<real>13676000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.169999999999998</real>
			<key>close</key>
			<real>15.169999999999998</real>
			<key>date</key>
			<date>2009-05-18T04:00:00Z</date>
			<key>high</key>
			<real>15.180000000000001</real>
			<key>low</key>
			<real>14.74</real>
			<key>open</key>
			<real>15.1</real>
			<key>volume</key>
			<real>18629500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.91</real>
			<key>close</key>
			<real>14.91</real>
			<key>date</key>
			<date>2009-05-15T04:00:00Z</date>
			<key>high</key>
			<real>15.1</real>
			<key>low</key>
			<real>14.859999999999999</real>
			<key>open</key>
			<real>15</real>
			<key>volume</key>
			<real>22525900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.76</real>
			<key>close</key>
			<real>14.76</real>
			<key>date</key>
			<date>2009-05-14T04:00:00Z</date>
			<key>high</key>
			<real>14.859999999999999</real>
			<key>low</key>
			<real>14.4</real>
			<key>open</key>
			<real>14.5</real>
			<key>volume</key>
			<real>20841800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.52</real>
			<key>close</key>
			<real>14.52</real>
			<key>date</key>
			<date>2009-05-13T04:00:00Z</date>
			<key>high</key>
			<real>14.949999999999999</real>
			<key>low</key>
			<real>14.5</real>
			<key>open</key>
			<real>14.919999999999998</real>
			<key>volume</key>
			<real>23585400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.1</real>
			<key>close</key>
			<real>15.1</real>
			<key>date</key>
			<date>2009-05-12T04:00:00Z</date>
			<key>high</key>
			<real>15.5</real>
			<key>low</key>
			<real>14.9</real>
			<key>open</key>
			<real>15.5</real>
			<key>volume</key>
			<real>31403300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.540000000000001</real>
			<key>close</key>
			<real>15.540000000000001</real>
			<key>date</key>
			<date>2009-05-11T04:00:00Z</date>
			<key>high</key>
			<real>15.830000000000002</real>
			<key>low</key>
			<real>14.809999999999999</real>
			<key>open</key>
			<real>14.9</real>
			<key>volume</key>
			<real>39492400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.15</real>
			<key>close</key>
			<real>15.15</real>
			<key>date</key>
			<date>2009-05-08T04:00:00Z</date>
			<key>high</key>
			<real>15.300000000000001</real>
			<key>low</key>
			<real>14.699999999999999</real>
			<key>open</key>
			<real>14.880000000000001</real>
			<key>volume</key>
			<real>22461200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.800000000000001</real>
			<key>close</key>
			<real>14.800000000000001</real>
			<key>date</key>
			<date>2009-05-07T04:00:00Z</date>
			<key>high</key>
			<real>15.1</real>
			<key>low</key>
			<real>14.380000000000001</real>
			<key>open</key>
			<real>15.030000000000001</real>
			<key>volume</key>
			<real>24328500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.85</real>
			<key>close</key>
			<real>14.85</real>
			<key>date</key>
			<date>2009-05-06T04:00:00Z</date>
			<key>high</key>
			<real>15</real>
			<key>low</key>
			<real>14.52</real>
			<key>open</key>
			<real>14.800000000000001</real>
			<key>volume</key>
			<real>19105800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.74</real>
			<key>close</key>
			<real>14.74</real>
			<key>date</key>
			<date>2009-05-05T04:00:00Z</date>
			<key>high</key>
			<real>14.99</real>
			<key>low</key>
			<real>14.180000000000001</real>
			<key>open</key>
			<real>14.550000000000001</real>
			<key>volume</key>
			<real>35233200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.180000000000001</real>
			<key>close</key>
			<real>14.180000000000001</real>
			<key>date</key>
			<date>2009-05-04T04:00:00Z</date>
			<key>high</key>
			<real>14.25</real>
			<key>low</key>
			<real>13.959999999999999</real>
			<key>open</key>
			<real>14.199999999999999</real>
			<key>volume</key>
			<real>25094600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.140000000000001</real>
			<key>close</key>
			<real>14.140000000000001</real>
			<key>date</key>
			<date>2009-05-01T04:00:00Z</date>
			<key>high</key>
			<real>14.5</real>
			<key>low</key>
			<real>13.91</real>
			<key>open</key>
			<real>14.5</real>
			<key>volume</key>
			<real>23721700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.290000000000001</real>
			<key>close</key>
			<real>14.290000000000001</real>
			<key>date</key>
			<date>2009-04-30T04:00:00Z</date>
			<key>high</key>
			<real>14.6</real>
			<key>low</key>
			<real>14.119999999999999</real>
			<key>open</key>
			<real>14.119999999999999</real>
			<key>volume</key>
			<real>25883300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.02</real>
			<key>close</key>
			<real>14.02</real>
			<key>date</key>
			<date>2009-04-29T04:00:00Z</date>
			<key>high</key>
			<real>14.35</real>
			<key>low</key>
			<real>13.699999999999999</real>
			<key>open</key>
			<real>13.699999999999999</real>
			<key>volume</key>
			<real>16570900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.640000000000001</real>
			<key>close</key>
			<real>13.640000000000001</real>
			<key>date</key>
			<date>2009-04-28T04:00:00Z</date>
			<key>high</key>
			<real>14.050000000000001</real>
			<key>low</key>
			<real>13.6</real>
			<key>open</key>
			<real>13.74</real>
			<key>volume</key>
			<real>18856500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.890000000000001</real>
			<key>close</key>
			<real>13.890000000000001</real>
			<key>date</key>
			<date>2009-04-27T04:00:00Z</date>
			<key>high</key>
			<real>14.550000000000001</real>
			<key>low</key>
			<real>13.880000000000001</real>
			<key>open</key>
			<real>14.48</real>
			<key>volume</key>
			<real>22640600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.73</real>
			<key>close</key>
			<real>14.73</real>
			<key>date</key>
			<date>2009-04-24T04:00:00Z</date>
			<key>high</key>
			<real>14.940000000000001</real>
			<key>low</key>
			<real>14.359999999999999</real>
			<key>open</key>
			<real>14.790000000000001</real>
			<key>volume</key>
			<real>25803000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.550000000000001</real>
			<key>close</key>
			<real>14.550000000000001</real>
			<key>date</key>
			<date>2009-04-23T04:00:00Z</date>
			<key>high</key>
			<real>14.74</real>
			<key>low</key>
			<real>14.109999999999999</real>
			<key>open</key>
			<real>14.559999999999999</real>
			<key>volume</key>
			<real>32943200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.48</real>
			<key>close</key>
			<real>14.48</real>
			<key>date</key>
			<date>2009-04-22T04:00:00Z</date>
			<key>high</key>
			<real>15.390000000000001</real>
			<key>low</key>
			<real>14.41</real>
			<key>open</key>
			<real>14.619999999999999</real>
			<key>volume</key>
			<real>65407800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.380000000000001</real>
			<key>close</key>
			<real>14.380000000000001</real>
			<key>date</key>
			<date>2009-04-21T04:00:00Z</date>
			<key>high</key>
			<real>14.59</real>
			<key>low</key>
			<real>13.709999999999999</real>
			<key>open</key>
			<real>13.940000000000001</real>
			<key>volume</key>
			<real>54237700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.66</real>
			<key>close</key>
			<real>13.66</real>
			<key>date</key>
			<date>2009-04-20T04:00:00Z</date>
			<key>high</key>
			<real>14.25</real>
			<key>low</key>
			<real>13.6</real>
			<key>open</key>
			<real>14.16</real>
			<key>volume</key>
			<real>13470500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.390000000000001</real>
			<key>close</key>
			<real>14.390000000000001</real>
			<key>date</key>
			<date>2009-04-17T04:00:00Z</date>
			<key>high</key>
			<real>14.52</real>
			<key>low</key>
			<real>14.030000000000001</real>
			<key>open</key>
			<real>14.430000000000001</real>
			<key>volume</key>
			<real>19800400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.430000000000001</real>
			<key>close</key>
			<real>14.430000000000001</real>
			<key>date</key>
			<date>2009-04-16T04:00:00Z</date>
			<key>high</key>
			<real>14.530000000000001</real>
			<key>low</key>
			<real>14.050000000000001</real>
			<key>open</key>
			<real>14.15</real>
			<key>volume</key>
			<real>19156500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.02</real>
			<key>close</key>
			<real>14.02</real>
			<key>date</key>
			<date>2009-04-15T04:00:00Z</date>
			<key>high</key>
			<real>14.09</real>
			<key>low</key>
			<real>13.77</real>
			<key>open</key>
			<real>13.930000000000001</real>
			<key>volume</key>
			<real>12383200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.069999999999999</real>
			<key>close</key>
			<real>14.069999999999999</real>
			<key>date</key>
			<date>2009-04-14T04:00:00Z</date>
			<key>high</key>
			<real>14.419999999999998</real>
			<key>low</key>
			<real>14</real>
			<key>open</key>
			<real>14.4</real>
			<key>volume</key>
			<real>15151700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.419999999999998</real>
			<key>close</key>
			<real>14.419999999999998</real>
			<key>date</key>
			<date>2009-04-13T04:00:00Z</date>
			<key>high</key>
			<real>14.540000000000001</real>
			<key>low</key>
			<real>13.859999999999999</real>
			<key>open</key>
			<real>14.02</real>
			<key>volume</key>
			<real>35067600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.469999999999999</real>
			<key>close</key>
			<real>13.469999999999999</real>
			<key>date</key>
			<date>2009-04-09T04:00:00Z</date>
			<key>high</key>
			<real>13.59</real>
			<key>low</key>
			<real>13.069999999999999</real>
			<key>open</key>
			<real>13.140000000000001</real>
			<key>volume</key>
			<real>17285800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>12.919999999999998</real>
			<key>close</key>
			<real>12.919999999999998</real>
			<key>date</key>
			<date>2009-04-08T04:00:00Z</date>
			<key>high</key>
			<real>13.01</real>
			<key>low</key>
			<real>12.75</real>
			<key>open</key>
			<real>12.9</real>
			<key>volume</key>
			<real>11241000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>12.809999999999999</real>
			<key>close</key>
			<real>12.809999999999999</real>
			<key>date</key>
			<date>2009-04-07T04:00:00Z</date>
			<key>high</key>
			<real>13.1</real>
			<key>low</key>
			<real>12.68</real>
			<key>open</key>
			<real>13</real>
			<key>volume</key>
			<real>12306400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.23</real>
			<key>close</key>
			<real>13.23</real>
			<key>date</key>
			<date>2009-04-06T04:00:00Z</date>
			<key>high</key>
			<real>13.24</real>
			<key>low</key>
			<real>12.99</real>
			<key>open</key>
			<real>13.080000000000002</real>
			<key>volume</key>
			<real>11935700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.34</real>
			<key>close</key>
			<real>13.34</real>
			<key>date</key>
			<date>2009-04-03T04:00:00Z</date>
			<key>high</key>
			<real>13.390000000000001</real>
			<key>low</key>
			<real>12.779999999999999</real>
			<key>open</key>
			<real>12.949999999999999</real>
			<key>volume</key>
			<real>18534900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>12.949999999999999</real>
			<key>close</key>
			<real>12.949999999999999</real>
			<key>date</key>
			<date>2009-04-02T04:00:00Z</date>
			<key>high</key>
			<real>13.140000000000001</real>
			<key>low</key>
			<real>12.800000000000001</real>
			<key>open</key>
			<real>13.040000000000001</real>
			<key>volume</key>
			<real>28823100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>12.75</real>
			<key>close</key>
			<real>12.75</real>
			<key>date</key>
			<date>2009-04-01T04:00:00Z</date>
			<key>high</key>
			<real>13.119999999999999</real>
			<key>low</key>
			<real>12.6</real>
			<key>open</key>
			<real>12.699999999999999</real>
			<key>volume</key>
			<real>14540400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>12.809999999999999</real>
			<key>close</key>
			<real>12.809999999999999</real>
			<key>date</key>
			<date>2009-03-31T04:00:00Z</date>
			<key>high</key>
			<real>13.1</real>
			<key>low</key>
			<real>12.67</real>
			<key>open</key>
			<real>12.76</real>
			<key>volume</key>
			<real>11882100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>12.699999999999999</real>
			<key>close</key>
			<real>12.699999999999999</real>
			<key>date</key>
			<date>2009-03-30T04:00:00Z</date>
			<key>high</key>
			<real>13.140000000000001</real>
			<key>low</key>
			<real>12.51</real>
			<key>open</key>
			<real>12.930000000000001</real>
			<key>volume</key>
			<real>16558800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.180000000000001</real>
			<key>close</key>
			<real>13.180000000000001</real>
			<key>date</key>
			<date>2009-03-27T04:00:00Z</date>
			<key>high</key>
			<real>13.609999999999999</real>
			<key>low</key>
			<real>13.119999999999999</real>
			<key>open</key>
			<real>13.169999999999998</real>
			<key>volume</key>
			<real>22426200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.35</real>
			<key>close</key>
			<real>13.35</real>
			<key>date</key>
			<date>2009-03-26T04:00:00Z</date>
			<key>high</key>
			<real>13.609999999999999</real>
			<key>low</key>
			<real>13</real>
			<key>open</key>
			<real>13.550000000000001</real>
			<key>volume</key>
			<real>24223400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.550000000000001</real>
			<key>close</key>
			<real>13.550000000000001</real>
			<key>date</key>
			<date>2009-03-25T04:00:00Z</date>
			<key>high</key>
			<real>13.880000000000001</real>
			<key>low</key>
			<real>13.35</real>
			<key>open</key>
			<real>13.690000000000001</real>
			<key>volume</key>
			<real>16746400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.630000000000001</real>
			<key>close</key>
			<real>13.630000000000001</real>
			<key>date</key>
			<date>2009-03-24T04:00:00Z</date>
			<key>high</key>
			<real>14.02</real>
			<key>low</key>
			<real>13.559999999999999</real>
			<key>open</key>
			<real>13.98</real>
			<key>volume</key>
			<real>17293600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.09</real>
			<key>close</key>
			<real>14.09</real>
			<key>date</key>
			<date>2009-03-23T04:00:00Z</date>
			<key>high</key>
			<real>14.119999999999999</real>
			<key>low</key>
			<real>13.619999999999999</real>
			<key>open</key>
			<real>13.790000000000001</real>
			<key>volume</key>
			<real>18200000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.6</real>
			<key>close</key>
			<real>13.6</real>
			<key>date</key>
			<date>2009-03-20T04:00:00Z</date>
			<key>high</key>
			<real>13.869999999999999</real>
			<key>low</key>
			<real>13.51</real>
			<key>open</key>
			<real>13.630000000000001</real>
			<key>volume</key>
			<real>22079300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.74</real>
			<key>close</key>
			<real>13.74</real>
			<key>date</key>
			<date>2009-03-19T04:00:00Z</date>
			<key>high</key>
			<real>14.140000000000001</real>
			<key>low</key>
			<real>13.609999999999999</real>
			<key>open</key>
			<real>13.680000000000001</real>
			<key>volume</key>
			<real>25954300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.419999999999998</real>
			<key>close</key>
			<real>13.419999999999998</real>
			<key>date</key>
			<date>2009-03-18T04:00:00Z</date>
			<key>high</key>
			<real>13.949999999999999</real>
			<key>low</key>
			<real>13.23</real>
			<key>open</key>
			<real>13.809999999999999</real>
			<key>volume</key>
			<real>26324300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.99</real>
			<key>close</key>
			<real>13.99</real>
			<key>date</key>
			<date>2009-03-17T04:00:00Z</date>
			<key>high</key>
			<real>14.040000000000001</real>
			<key>low</key>
			<real>13.219999999999999</real>
			<key>open</key>
			<real>13.35</real>
			<key>volume</key>
			<real>16719400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.219999999999999</real>
			<key>close</key>
			<real>13.219999999999999</real>
			<key>date</key>
			<date>2009-03-16T04:00:00Z</date>
			<key>high</key>
			<real>13.66</real>
			<key>low</key>
			<real>13.199999999999999</real>
			<key>open</key>
			<real>13.66</real>
			<key>volume</key>
			<real>19448800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.51</real>
			<key>close</key>
			<real>13.51</real>
			<key>date</key>
			<date>2009-03-13T04:00:00Z</date>
			<key>high</key>
			<real>13.640000000000001</real>
			<key>low</key>
			<real>13.27</real>
			<key>open</key>
			<real>13.580000000000002</real>
			<key>volume</key>
			<real>12522600</real>
		</dict>
	</array>
	<key>overallHigh</key>
	<real>16.990000000000002</real>
	<key>overallLow</key>
	<real>12.51</real>
	<key>startDate</key>
	<date>2009-03-13T06:53:47Z</date>
	<key>symbol</key>
	<string>YHOO</string>
</dict>
</plist>
