<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDate</key>
	<date>2009-06-19T06:53:47Z</date>
	<key>financalData</key>
	<array>
		<dict>
			<key>adjClose</key>
			<real>23.5</real>
			<key>close</key>
			<real>23.5</real>
			<key>date</key>
			<date>2009-06-18T04:00:00Z</date>
			<key>high</key>
			<real>23.690000000000001</real>
			<key>low</key>
			<real>23.300000000000001</real>
			<key>open</key>
			<real>23.619999999999997</real>
			<key>volume</key>
			<real>58825800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.68</real>
			<key>close</key>
			<real>23.68</real>
			<key>date</key>
			<date>2009-06-17T04:00:00Z</date>
			<key>high</key>
			<real>23.82</real>
			<key>low</key>
			<real>23.169999999999998</real>
			<key>open</key>
			<real>23.5</real>
			<key>volume</key>
			<real>86463700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.449999999999999</real>
			<key>close</key>
			<real>23.449999999999999</real>
			<key>date</key>
			<date>2009-06-16T04:00:00Z</date>
			<key>high</key>
			<real>24.109999999999999</real>
			<key>low</key>
			<real>23.440000000000001</real>
			<key>open</key>
			<real>23.469999999999999</real>
			<key>volume</key>
			<real>105284900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.419999999999998</real>
			<key>close</key>
			<real>23.419999999999998</real>
			<key>date</key>
			<date>2009-06-15T04:00:00Z</date>
			<key>high</key>
			<real>23.539999999999999</real>
			<key>low</key>
			<real>23.02</real>
			<key>open</key>
			<real>23.23</real>
			<key>volume</key>
			<real>69074500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.330000000000002</real>
			<key>close</key>
			<real>23.330000000000002</real>
			<key>date</key>
			<date>2009-06-12T04:00:00Z</date>
			<key>high</key>
			<real>23.380000000000003</real>
			<key>low</key>
			<real>22.740000000000002</real>
			<key>open</key>
			<real>22.899999999999999</real>
			<key>volume</key>
			<real>50951800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.830000000000002</real>
			<key>close</key>
			<real>22.830000000000002</real>
			<key>date</key>
			<date>2009-06-11T04:00:00Z</date>
			<key>high</key>
			<real>23.259999999999998</real>
			<key>low</key>
			<real>22.57</real>
			<key>open</key>
			<real>22.59</real>
			<key>volume</key>
			<real>65124600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.550000000000001</real>
			<key>close</key>
			<real>22.550000000000001</real>
			<key>date</key>
			<date>2009-06-10T04:00:00Z</date>
			<key>high</key>
			<real>22.619999999999997</real>
			<key>low</key>
			<real>22.119999999999997</real>
			<key>open</key>
			<real>22.169999999999998</real>
			<key>volume</key>
			<real>61202600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.080000000000002</real>
			<key>close</key>
			<real>22.080000000000002</real>
			<key>date</key>
			<date>2009-06-09T04:00:00Z</date>
			<key>high</key>
			<real>22.32</real>
			<key>low</key>
			<real>21.880000000000003</real>
			<key>open</key>
			<real>22.059999999999999</real>
			<key>volume</key>
			<real>50852100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.050000000000001</real>
			<key>close</key>
			<real>22.050000000000001</real>
			<key>date</key>
			<date>2009-06-08T04:00:00Z</date>
			<key>high</key>
			<real>22.32</real>
			<key>low</key>
			<real>21.630000000000003</real>
			<key>open</key>
			<real>21.98</real>
			<key>volume</key>
			<real>49000600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.140000000000001</real>
			<key>close</key>
			<real>22.140000000000001</real>
			<key>date</key>
			<date>2009-06-05T04:00:00Z</date>
			<key>high</key>
			<real>22.309999999999999</real>
			<key>low</key>
			<real>21.809999999999999</real>
			<key>open</key>
			<real>21.960000000000001</real>
			<key>volume</key>
			<real>59579200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>21.830000000000002</real>
			<key>close</key>
			<real>21.830000000000002</real>
			<key>date</key>
			<date>2009-06-04T04:00:00Z</date>
			<key>high</key>
			<real>21.899999999999999</real>
			<key>low</key>
			<real>21.580000000000002</real>
			<key>open</key>
			<real>21.77</real>
			<key>volume</key>
			<real>42330000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>21.73</real>
			<key>close</key>
			<real>21.73</real>
			<key>date</key>
			<date>2009-06-03T04:00:00Z</date>
			<key>high</key>
			<real>21.759999999999998</real>
			<key>low</key>
			<real>21.289999999999999</real>
			<key>open</key>
			<real>21.309999999999999</real>
			<key>volume</key>
			<real>56039600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>21.399999999999999</real>
			<key>close</key>
			<real>21.399999999999999</real>
			<key>date</key>
			<date>2009-06-02T04:00:00Z</date>
			<key>high</key>
			<real>21.98</real>
			<key>low</key>
			<real>21.199999999999999</real>
			<key>open</key>
			<real>21.359999999999999</real>
			<key>volume</key>
			<real>48935700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>21.399999999999999</real>
			<key>close</key>
			<real>21.399999999999999</real>
			<key>date</key>
			<date>2009-06-01T04:00:00Z</date>
			<key>high</key>
			<real>21.5</real>
			<key>low</key>
			<real>20.859999999999999</real>
			<key>open</key>
			<real>21</real>
			<key>volume</key>
			<real>57317100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.890000000000001</real>
			<key>close</key>
			<real>20.890000000000001</real>
			<key>date</key>
			<date>2009-05-29T04:00:00Z</date>
			<key>high</key>
			<real>20.940000000000001</real>
			<key>low</key>
			<real>20.300000000000001</real>
			<key>open</key>
			<real>20.559999999999999</real>
			<key>volume</key>
			<real>46134900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.449999999999999</real>
			<key>close</key>
			<real>20.449999999999999</real>
			<key>date</key>
			<date>2009-05-28T04:00:00Z</date>
			<key>high</key>
			<real>20.630000000000003</real>
			<key>low</key>
			<real>20.050000000000001</real>
			<key>open</key>
			<real>20.32</real>
			<key>volume</key>
			<real>45480800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.130000000000003</real>
			<key>close</key>
			<real>20.130000000000003</real>
			<key>date</key>
			<date>2009-05-27T04:00:00Z</date>
			<key>high</key>
			<real>20.600000000000001</real>
			<key>low</key>
			<real>20.07</real>
			<key>open</key>
			<real>20.25</real>
			<key>volume</key>
			<real>42892900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.34</real>
			<key>close</key>
			<real>20.34</real>
			<key>date</key>
			<date>2009-05-26T04:00:00Z</date>
			<key>high</key>
			<real>20.449999999999999</real>
			<key>low</key>
			<real>19.449999999999999</real>
			<key>open</key>
			<real>19.539999999999999</real>
			<key>volume</key>
			<real>44991700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.75</real>
			<key>close</key>
			<real>19.75</real>
			<key>date</key>
			<date>2009-05-22T04:00:00Z</date>
			<key>high</key>
			<real>20.169999999999998</real>
			<key>low</key>
			<real>19.469999999999999</real>
			<key>open</key>
			<real>19.93</real>
			<key>volume</key>
			<real>37318700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.82</real>
			<key>close</key>
			<real>19.82</real>
			<key>date</key>
			<date>2009-05-21T04:00:00Z</date>
			<key>high</key>
			<real>20.23</real>
			<key>low</key>
			<real>19.509999999999998</real>
			<key>open</key>
			<real>20.140000000000001</real>
			<key>volume</key>
			<real>58232800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.380000000000003</real>
			<key>close</key>
			<real>20.380000000000003</real>
			<key>date</key>
			<date>2009-05-20T04:00:00Z</date>
			<key>high</key>
			<real>20.690000000000001</real>
			<key>low</key>
			<real>20.219999999999999</real>
			<key>open</key>
			<real>20.41</real>
			<key>volume</key>
			<real>47450700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.309999999999999</real>
			<key>close</key>
			<real>20.309999999999999</real>
			<key>date</key>
			<date>2009-05-19T04:00:00Z</date>
			<key>high</key>
			<real>20.740000000000002</real>
			<key>low</key>
			<real>20.25</real>
			<key>open</key>
			<real>20.509999999999998</real>
			<key>volume</key>
			<real>51368300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.469999999999999</real>
			<key>close</key>
			<real>20.600000000000001</real>
			<key>date</key>
			<date>2009-05-18T04:00:00Z</date>
			<key>high</key>
			<real>20.600000000000001</real>
			<key>low</key>
			<real>20.240000000000002</real>
			<key>open</key>
			<real>20.359999999999999</real>
			<key>volume</key>
			<real>46073800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.09</real>
			<key>close</key>
			<real>20.219999999999999</real>
			<key>date</key>
			<date>2009-05-15T04:00:00Z</date>
			<key>high</key>
			<real>20.5</real>
			<key>low</key>
			<real>19.98</real>
			<key>open</key>
			<real>20.130000000000003</real>
			<key>volume</key>
			<real>61289900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.93</real>
			<key>close</key>
			<real>20.059999999999999</real>
			<key>date</key>
			<date>2009-05-14T04:00:00Z</date>
			<key>high</key>
			<real>20.23</real>
			<key>low</key>
			<real>19.800000000000001</real>
			<key>open</key>
			<real>19.830000000000002</real>
			<key>volume</key>
			<real>54539500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.630000000000003</real>
			<key>close</key>
			<real>19.75</real>
			<key>date</key>
			<date>2009-05-13T04:00:00Z</date>
			<key>high</key>
			<real>20</real>
			<key>low</key>
			<real>19.669999999999998</real>
			<key>open</key>
			<real>19.919999999999998</real>
			<key>volume</key>
			<real>49281700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.759999999999998</real>
			<key>close</key>
			<real>19.890000000000001</real>
			<key>date</key>
			<date>2009-05-12T04:00:00Z</date>
			<key>high</key>
			<real>20.059999999999999</real>
			<key>low</key>
			<real>19.469999999999999</real>
			<key>open</key>
			<real>19.509999999999998</real>
			<key>volume</key>
			<real>71966800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.199999999999999</real>
			<key>close</key>
			<real>19.32</real>
			<key>date</key>
			<date>2009-05-11T04:00:00Z</date>
			<key>high</key>
			<real>19.73</real>
			<key>low</key>
			<real>19.009999999999998</real>
			<key>open</key>
			<real>19.199999999999999</real>
			<key>volume</key>
			<real>63762600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.300000000000001</real>
			<key>close</key>
			<real>19.419999999999998</real>
			<key>date</key>
			<date>2009-05-08T04:00:00Z</date>
			<key>high</key>
			<real>19.640000000000001</real>
			<key>low</key>
			<real>19.140000000000001</real>
			<key>open</key>
			<real>19.460000000000001</real>
			<key>volume</key>
			<real>67597600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.199999999999999</real>
			<key>close</key>
			<real>19.32</real>
			<key>date</key>
			<date>2009-05-07T04:00:00Z</date>
			<key>high</key>
			<real>19.990000000000002</real>
			<key>low</key>
			<real>19.140000000000001</real>
			<key>open</key>
			<real>19.960000000000001</real>
			<key>volume</key>
			<real>68727200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.669999999999998</real>
			<key>close</key>
			<real>19.789999999999999</real>
			<key>date</key>
			<date>2009-05-06T04:00:00Z</date>
			<key>high</key>
			<real>20.07</real>
			<key>low</key>
			<real>19.609999999999999</real>
			<key>open</key>
			<real>20.059999999999999</real>
			<key>volume</key>
			<real>59639100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.669999999999998</real>
			<key>close</key>
			<real>19.789999999999999</real>
			<key>date</key>
			<date>2009-05-05T04:00:00Z</date>
			<key>high</key>
			<real>20.240000000000002</real>
			<key>low</key>
			<real>19.640000000000001</real>
			<key>open</key>
			<real>20.140000000000001</real>
			<key>volume</key>
			<real>66835500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.059999999999999</real>
			<key>close</key>
			<real>20.190000000000001</real>
			<key>date</key>
			<date>2009-05-04T04:00:00Z</date>
			<key>high</key>
			<real>20.399999999999999</real>
			<key>low</key>
			<real>19.98</real>
			<key>open</key>
			<real>20.369999999999997</real>
			<key>volume</key>
			<real>54313400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.109999999999999</real>
			<key>close</key>
			<real>20.240000000000002</real>
			<key>date</key>
			<date>2009-05-01T04:00:00Z</date>
			<key>high</key>
			<real>20.350000000000001</real>
			<key>low</key>
			<real>19.859999999999999</real>
			<key>open</key>
			<real>20.190000000000001</real>
			<key>volume</key>
			<real>63224500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.130000000000003</real>
			<key>close</key>
			<real>20.259999999999998</real>
			<key>date</key>
			<date>2009-04-30T04:00:00Z</date>
			<key>high</key>
			<real>21.100000000000001</real>
			<key>low</key>
			<real>20.009999999999998</real>
			<key>open</key>
			<real>20.600000000000001</real>
			<key>volume</key>
			<real>87439900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.119999999999997</real>
			<key>close</key>
			<real>20.25</real>
			<key>date</key>
			<date>2009-04-29T04:00:00Z</date>
			<key>high</key>
			<real>20.890000000000001</real>
			<key>low</key>
			<real>20.059999999999999</real>
			<key>open</key>
			<real>20.109999999999999</real>
			<key>volume</key>
			<real>79301600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.800000000000001</real>
			<key>close</key>
			<real>19.93</real>
			<key>date</key>
			<date>2009-04-28T04:00:00Z</date>
			<key>high</key>
			<real>20.27</real>
			<key>low</key>
			<real>19.789999999999999</real>
			<key>open</key>
			<real>20.25</real>
			<key>volume</key>
			<real>76685200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.27</real>
			<key>close</key>
			<real>20.399999999999999</real>
			<key>date</key>
			<date>2009-04-27T04:00:00Z</date>
			<key>high</key>
			<real>20.82</real>
			<key>low</key>
			<real>20.280000000000001</real>
			<key>open</key>
			<real>20.550000000000001</real>
			<key>volume</key>
			<real>68219600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.780000000000001</real>
			<key>close</key>
			<real>20.91</real>
			<key>date</key>
			<date>2009-04-24T04:00:00Z</date>
			<key>high</key>
			<real>21.199999999999999</real>
			<key>low</key>
			<real>19.5</real>
			<key>open</key>
			<real>19.82</real>
			<key>volume</key>
			<real>168478500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.800000000000001</real>
			<key>close</key>
			<real>18.919999999999998</real>
			<key>date</key>
			<date>2009-04-23T04:00:00Z</date>
			<key>high</key>
			<real>18.940000000000001</real>
			<key>low</key>
			<real>18.469999999999999</real>
			<key>open</key>
			<real>18.919999999999998</real>
			<key>volume</key>
			<real>86116300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.66</real>
			<key>close</key>
			<real>18.780000000000001</real>
			<key>date</key>
			<date>2009-04-22T04:00:00Z</date>
			<key>high</key>
			<real>19.190000000000001</real>
			<key>low</key>
			<real>18.699999999999999</real>
			<key>open</key>
			<real>18.759999999999998</real>
			<key>volume</key>
			<real>59401000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.850000000000001</real>
			<key>close</key>
			<real>18.969999999999999</real>
			<key>date</key>
			<date>2009-04-21T04:00:00Z</date>
			<key>high</key>
			<real>19.080000000000002</real>
			<key>low</key>
			<real>18.57</real>
			<key>open</key>
			<real>18.59</real>
			<key>volume</key>
			<real>60928300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.490000000000002</real>
			<key>close</key>
			<real>18.609999999999999</real>
			<key>date</key>
			<date>2009-04-20T04:00:00Z</date>
			<key>high</key>
			<real>18.949999999999999</real>
			<key>low</key>
			<real>18.57</real>
			<key>open</key>
			<real>18.890000000000001</real>
			<key>volume</key>
			<real>62937200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.080000000000002</real>
			<key>close</key>
			<real>19.199999999999999</real>
			<key>date</key>
			<date>2009-04-17T04:00:00Z</date>
			<key>high</key>
			<real>19.690000000000001</real>
			<key>low</key>
			<real>19</real>
			<key>open</key>
			<real>19.690000000000001</real>
			<key>volume</key>
			<real>61398500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.640000000000001</real>
			<key>close</key>
			<real>19.759999999999998</real>
			<key>date</key>
			<date>2009-04-16T04:00:00Z</date>
			<key>high</key>
			<real>19.780000000000001</real>
			<key>low</key>
			<real>18.990000000000002</real>
			<key>open</key>
			<real>19.16</real>
			<key>volume</key>
			<real>67688700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.710000000000001</real>
			<key>close</key>
			<real>18.830000000000002</real>
			<key>date</key>
			<date>2009-04-15T04:00:00Z</date>
			<key>high</key>
			<real>19.25</real>
			<key>low</key>
			<real>18.509999999999998</real>
			<key>open</key>
			<real>19.210000000000001</real>
			<key>volume</key>
			<real>72725500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.23</real>
			<key>close</key>
			<real>19.350000000000001</real>
			<key>date</key>
			<date>2009-04-14T04:00:00Z</date>
			<key>high</key>
			<real>19.550000000000001</real>
			<key>low</key>
			<real>19</real>
			<key>open</key>
			<real>19.440000000000001</real>
			<key>volume</key>
			<real>63796300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.469999999999999</real>
			<key>close</key>
			<real>19.59</real>
			<key>date</key>
			<date>2009-04-13T04:00:00Z</date>
			<key>high</key>
			<real>19.850000000000001</real>
			<key>low</key>
			<real>19.369999999999997</real>
			<key>open</key>
			<real>19.690000000000001</real>
			<key>volume</key>
			<real>44444700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.550000000000001</real>
			<key>close</key>
			<real>19.669999999999998</real>
			<key>date</key>
			<date>2009-04-09T04:00:00Z</date>
			<key>high</key>
			<real>19.699999999999999</real>
			<key>low</key>
			<real>19.219999999999999</real>
			<key>open</key>
			<real>19.449999999999999</real>
			<key>volume</key>
			<real>55759600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.07</real>
			<key>close</key>
			<real>19.190000000000001</real>
			<key>date</key>
			<date>2009-04-08T04:00:00Z</date>
			<key>high</key>
			<real>19.619999999999997</real>
			<key>low</key>
			<real>18.960000000000001</real>
			<key>open</key>
			<real>18.969999999999999</real>
			<key>volume</key>
			<real>56408900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.640000000000001</real>
			<key>close</key>
			<real>18.759999999999998</real>
			<key>date</key>
			<date>2009-04-07T04:00:00Z</date>
			<key>high</key>
			<real>19.140000000000001</real>
			<key>low</key>
			<real>18.630000000000003</real>
			<key>open</key>
			<real>18.759999999999998</real>
			<key>volume</key>
			<real>65815200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.640000000000001</real>
			<key>close</key>
			<real>18.759999999999998</real>
			<key>date</key>
			<date>2009-04-06T04:00:00Z</date>
			<key>high</key>
			<real>18.759999999999998</real>
			<key>low</key>
			<real>18.27</real>
			<key>open</key>
			<real>18.539999999999999</real>
			<key>volume</key>
			<real>47476100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.630000000000003</real>
			<key>close</key>
			<real>18.75</real>
			<key>date</key>
			<date>2009-04-03T04:00:00Z</date>
			<key>high</key>
			<real>19.149999999999999</real>
			<key>low</key>
			<real>18.43</real>
			<key>open</key>
			<real>19.130000000000003</real>
			<key>volume</key>
			<real>81858400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.169999999999998</real>
			<key>close</key>
			<real>19.289999999999999</real>
			<key>date</key>
			<date>2009-04-02T04:00:00Z</date>
			<key>high</key>
			<real>19.890000000000001</real>
			<key>low</key>
			<real>19</real>
			<key>open</key>
			<real>19.5</real>
			<key>volume</key>
			<real>99082300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.190000000000001</real>
			<key>close</key>
			<real>19.309999999999999</real>
			<key>date</key>
			<date>2009-04-01T04:00:00Z</date>
			<key>high</key>
			<real>19.359999999999999</real>
			<key>low</key>
			<real>18.18</real>
			<key>open</key>
			<real>18.23</real>
			<key>volume</key>
			<real>96438900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.25</real>
			<key>close</key>
			<real>18.369999999999997</real>
			<key>date</key>
			<date>2009-03-31T04:00:00Z</date>
			<key>high</key>
			<real>18.789999999999999</real>
			<key>low</key>
			<real>17.780000000000001</real>
			<key>open</key>
			<real>17.830000000000002</real>
			<key>volume</key>
			<real>92095500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>17.369999999999997</real>
			<key>close</key>
			<real>17.48</real>
			<key>date</key>
			<date>2009-03-30T04:00:00Z</date>
			<key>high</key>
			<real>17.759999999999998</real>
			<key>low</key>
			<real>17.27</real>
			<key>open</key>
			<real>17.740000000000002</real>
			<key>volume</key>
			<real>49633000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.02</real>
			<key>close</key>
			<real>18.130000000000003</real>
			<key>date</key>
			<date>2009-03-27T04:00:00Z</date>
			<key>high</key>
			<real>18.619999999999997</real>
			<key>low</key>
			<real>18.050000000000001</real>
			<key>open</key>
			<real>18.539999999999999</real>
			<key>volume</key>
			<real>47670400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.710000000000001</real>
			<key>close</key>
			<real>18.830000000000002</real>
			<key>date</key>
			<date>2009-03-26T04:00:00Z</date>
			<key>high</key>
			<real>18.880000000000003</real>
			<key>low</key>
			<real>18.119999999999997</real>
			<key>open</key>
			<real>18.169999999999998</real>
			<key>volume</key>
			<real>63775100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>17.77</real>
			<key>close</key>
			<real>17.880000000000003</real>
			<key>date</key>
			<date>2009-03-25T04:00:00Z</date>
			<key>high</key>
			<real>18.309999999999999</real>
			<key>low</key>
			<real>17.52</real>
			<key>open</key>
			<real>17.98</real>
			<key>volume</key>
			<real>73927100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>17.82</real>
			<key>close</key>
			<real>17.93</real>
			<key>date</key>
			<date>2009-03-24T04:00:00Z</date>
			<key>high</key>
			<real>18.210000000000001</real>
			<key>low</key>
			<real>17.84</real>
			<key>open</key>
			<real>18.039999999999999</real>
			<key>volume</key>
			<real>50044100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.210000000000001</real>
			<key>close</key>
			<real>18.330000000000002</real>
			<key>date</key>
			<date>2009-03-23T04:00:00Z</date>
			<key>high</key>
			<real>18.59</real>
			<key>low</key>
			<real>17.309999999999999</real>
			<key>open</key>
			<real>17.369999999999997</real>
			<key>volume</key>
			<real>71600000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.949999999999999</real>
			<key>close</key>
			<real>17.059999999999999</real>
			<key>date</key>
			<date>2009-03-20T04:00:00Z</date>
			<key>high</key>
			<real>17.649999999999999</real>
			<key>low</key>
			<real>16.880000000000003</real>
			<key>open</key>
			<real>17.32</real>
			<key>volume</key>
			<real>81725500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>17.030000000000001</real>
			<key>close</key>
			<real>17.140000000000001</real>
			<key>date</key>
			<date>2009-03-19T04:00:00Z</date>
			<key>high</key>
			<real>17.449999999999999</real>
			<key>low</key>
			<real>16.919999999999998</real>
			<key>open</key>
			<real>17.369999999999997</real>
			<key>volume</key>
			<real>58994600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.850000000000001</real>
			<key>close</key>
			<real>16.960000000000001</real>
			<key>date</key>
			<date>2009-03-18T04:00:00Z</date>
			<key>high</key>
			<real>17.219999999999999</real>
			<key>low</key>
			<real>16.600000000000001</real>
			<key>open</key>
			<real>17.030000000000001</real>
			<key>volume</key>
			<real>70710700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.789999999999999</real>
			<key>close</key>
			<real>16.899999999999999</real>
			<key>date</key>
			<date>2009-03-17T04:00:00Z</date>
			<key>high</key>
			<real>16.899999999999999</real>
			<key>low</key>
			<real>16.259999999999998</real>
			<key>open</key>
			<real>16.32</real>
			<key>volume</key>
			<real>62481000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.149999999999999</real>
			<key>close</key>
			<real>16.25</real>
			<key>date</key>
			<date>2009-03-16T04:00:00Z</date>
			<key>high</key>
			<real>16.960000000000001</real>
			<key>low</key>
			<real>16.240000000000002</real>
			<key>open</key>
			<real>16.82</real>
			<key>volume</key>
			<real>67028900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.539999999999999</real>
			<key>close</key>
			<real>16.649999999999999</real>
			<key>date</key>
			<date>2009-03-13T04:00:00Z</date>
			<key>high</key>
			<real>17.050000000000001</real>
			<key>low</key>
			<real>16.18</real>
			<key>open</key>
			<real>16.98</real>
			<key>volume</key>
			<real>82965800</real>
		</dict>
	</array>
	<key>overallHigh</key>
	<real>24.109999999999999</real>
	<key>overallLow</key>
	<real>16.18</real>
	<key>startDate</key>
	<date>2009-03-13T06:53:47Z</date>
	<key>symbol</key>
	<string>MSFT</string>
</dict>
</plist>
