<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDate</key>
	<date>2009-06-19T06:53:47Z</date>
	<key>financialData</key>
	<array>
		<dict>
			<key>adjClose</key>
			<real>23.5</real>
			<key>close</key>
			<real>23.5</real>
			<key>date</key>
			<date>2009-06-18T04:00:00Z</date>
			<key>high</key>
			<real>23.69</real>
			<key>low</key>
			<real>23.3</real>
			<key>open</key>
			<real>23.62</real>
			<key>volume</key>
			<real>58825800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.68</real>
			<key>close</key>
			<real>23.68</real>
			<key>date</key>
			<date>2009-06-17T04:00:00Z</date>
			<key>high</key>
			<real>23.82</real>
			<key>low</key>
			<real>23.17</real>
			<key>open</key>
			<real>23.5</real>
			<key>volume</key>
			<real>86463700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.45</real>
			<key>close</key>
			<real>23.45</real>
			<key>date</key>
			<date>2009-06-16T04:00:00Z</date>
			<key>high</key>
			<real>24.11</real>
			<key>low</key>
			<real>23.44</real>
			<key>open</key>
			<real>23.47</real>
			<key>volume</key>
			<real>105284900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.42</real>
			<key>close</key>
			<real>23.42</real>
			<key>date</key>
			<date>2009-06-15T04:00:00Z</date>
			<key>high</key>
			<real>23.54</real>
			<key>low</key>
			<real>23.02</real>
			<key>open</key>
			<real>23.23</real>
			<key>volume</key>
			<real>69074500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.33</real>
			<key>close</key>
			<real>23.33</real>
			<key>date</key>
			<date>2009-06-12T04:00:00Z</date>
			<key>high</key>
			<real>23.38</real>
			<key>low</key>
			<real>22.74</real>
			<key>open</key>
			<real>22.9</real>
			<key>volume</key>
			<real>50951800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.83</real>
			<key>close</key>
			<real>22.83</real>
			<key>date</key>
			<date>2009-06-11T04:00:00Z</date>
			<key>high</key>
			<real>23.26</real>
			<key>low</key>
			<real>22.57</real>
			<key>open</key>
			<real>22.59</real>
			<key>volume</key>
			<real>65124600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.55</real>
			<key>close</key>
			<real>22.55</real>
			<key>date</key>
			<date>2009-06-10T04:00:00Z</date>
			<key>high</key>
			<real>22.62</real>
			<key>low</key>
			<real>22.12</real>
			<key>open</key>
			<real>22.17</real>
			<key>volume</key>
			<real>61202600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.08</real>
			<key>close</key>
			<real>22.08</real>
			<key>date</key>
			<date>2009-06-09T04:00:00Z</date>
			<key>high</key>
			<real>22.32</real>
			<key>low</key>
			<real>21.88</real>
			<key>open</key>
			<real>22.06</real>
			<key>volume</key>
			<real>50852100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.05</real>
			<key>close</key>
			<real>22.05</real>
			<key>date</key>
			<date>2009-06-08T04:00:00Z</date>
			<key>high</key>
			<real>22.32</real>
			<key>low</key>
			<real>21.63</real>
			<key>open</key>
			<real>21.98</real>
			<key>volume</key>
			<real>49000600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.14</real>
			<key>close</key>
			<real>22.14</real>
			<key>date</key>
			<date>2009-06-05T04:00:00Z</date>
			<key>high</key>
			<real>22.31</real>
			<key>low</key>
			<real>21.81</real>
			<key>open</key>
			<real>21.96</real>
			<key>volume</key>
			<real>59579200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>21.83</real>
			<key>close</key>
			<real>21.83</real>
			<key>date</key>
			<date>2009-06-04T04:00:00Z</date>
			<key>high</key>
			<real>21.9</real>
			<key>low</key>
			<real>21.58</real>
			<key>open</key>
			<real>21.77</real>
			<key>volume</key>
			<real>42330000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>21.73</real>
			<key>close</key>
			<real>21.73</real>
			<key>date</key>
			<date>2009-06-03T04:00:00Z</date>
			<key>high</key>
			<real>21.76</real>
			<key>low</key>
			<real>21.29</real>
			<key>open</key>
			<real>21.31</real>
			<key>volume</key>
			<real>56039600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>21.4</real>
			<key>close</key>
			<real>21.4</real>
			<key>date</key>
			<date>2009-06-02T04:00:00Z</date>
			<key>high</key>
			<real>21.98</real>
			<key>low</key>
			<real>21.2</real>
			<key>open</key>
			<real>21.36</real>
			<key>volume</key>
			<real>48935700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>21.4</real>
			<key>close</key>
			<real>21.4</real>
			<key>date</key>
			<date>2009-06-01T04:00:00Z</date>
			<key>high</key>
			<real>21.5</real>
			<key>low</key>
			<real>20.86</real>
			<key>open</key>
			<real>21</real>
			<key>volume</key>
			<real>57317100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.89</real>
			<key>close</key>
			<real>20.89</real>
			<key>date</key>
			<date>2009-05-29T04:00:00Z</date>
			<key>high</key>
			<real>20.94</real>
			<key>low</key>
			<real>20.3</real>
			<key>open</key>
			<real>20.56</real>
			<key>volume</key>
			<real>46134900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.45</real>
			<key>close</key>
			<real>20.45</real>
			<key>date</key>
			<date>2009-05-28T04:00:00Z</date>
			<key>high</key>
			<real>20.63</real>
			<key>low</key>
			<real>20.05</real>
			<key>open</key>
			<real>20.32</real>
			<key>volume</key>
			<real>45480800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.13</real>
			<key>close</key>
			<real>20.13</real>
			<key>date</key>
			<date>2009-05-27T04:00:00Z</date>
			<key>high</key>
			<real>20.6</real>
			<key>low</key>
			<real>20.07</real>
			<key>open</key>
			<real>20.25</real>
			<key>volume</key>
			<real>42892900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.34</real>
			<key>close</key>
			<real>20.34</real>
			<key>date</key>
			<date>2009-05-26T04:00:00Z</date>
			<key>high</key>
			<real>20.45</real>
			<key>low</key>
			<real>19.45</real>
			<key>open</key>
			<real>19.54</real>
			<key>volume</key>
			<real>44991700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.75</real>
			<key>close</key>
			<real>19.75</real>
			<key>date</key>
			<date>2009-05-22T04:00:00Z</date>
			<key>high</key>
			<real>20.17</real>
			<key>low</key>
			<real>19.47</real>
			<key>open</key>
			<real>19.93</real>
			<key>volume</key>
			<real>37318700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.82</real>
			<key>close</key>
			<real>19.82</real>
			<key>date</key>
			<date>2009-05-21T04:00:00Z</date>
			<key>high</key>
			<real>20.23</real>
			<key>low</key>
			<real>19.51</real>
			<key>open</key>
			<real>20.14</real>
			<key>volume</key>
			<real>58232800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.38</real>
			<key>close</key>
			<real>20.38</real>
			<key>date</key>
			<date>2009-05-20T04:00:00Z</date>
			<key>high</key>
			<real>20.69</real>
			<key>low</key>
			<real>20.22</real>
			<key>open</key>
			<real>20.41</real>
			<key>volume</key>
			<real>47450700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.31</real>
			<key>close</key>
			<real>20.31</real>
			<key>date</key>
			<date>2009-05-19T04:00:00Z</date>
			<key>high</key>
			<real>20.74</real>
			<key>low</key>
			<real>20.25</real>
			<key>open</key>
			<real>20.51</real>
			<key>volume</key>
			<real>51368300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.47</real>
			<key>close</key>
			<real>20.6</real>
			<key>date</key>
			<date>2009-05-18T04:00:00Z</date>
			<key>high</key>
			<real>20.6</real>
			<key>low</key>
			<real>20.24</real>
			<key>open</key>
			<real>20.36</real>
			<key>volume</key>
			<real>46073800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.09</real>
			<key>close</key>
			<real>20.22</real>
			<key>date</key>
			<date>2009-05-15T04:00:00Z</date>
			<key>high</key>
			<real>20.5</real>
			<key>low</key>
			<real>19.98</real>
			<key>open</key>
			<real>20.13</real>
			<key>volume</key>
			<real>61289900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.93</real>
			<key>close</key>
			<real>20.06</real>
			<key>date</key>
			<date>2009-05-14T04:00:00Z</date>
			<key>high</key>
			<real>20.23</real>
			<key>low</key>
			<real>19.8</real>
			<key>open</key>
			<real>19.83</real>
			<key>volume</key>
			<real>54539500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.63</real>
			<key>close</key>
			<real>19.75</real>
			<key>date</key>
			<date>2009-05-13T04:00:00Z</date>
			<key>high</key>
			<real>20</real>
			<key>low</key>
			<real>19.67</real>
			<key>open</key>
			<real>19.92</real>
			<key>volume</key>
			<real>49281700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.76</real>
			<key>close</key>
			<real>19.89</real>
			<key>date</key>
			<date>2009-05-12T04:00:00Z</date>
			<key>high</key>
			<real>20.06</real>
			<key>low</key>
			<real>19.47</real>
			<key>open</key>
			<real>19.51</real>
			<key>volume</key>
			<real>71966800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.2</real>
			<key>close</key>
			<real>19.32</real>
			<key>date</key>
			<date>2009-05-11T04:00:00Z</date>
			<key>high</key>
			<real>19.73</real>
			<key>low</key>
			<real>19.01</real>
			<key>open</key>
			<real>19.2</real>
			<key>volume</key>
			<real>63762600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.3</real>
			<key>close</key>
			<real>19.42</real>
			<key>date</key>
			<date>2009-05-08T04:00:00Z</date>
			<key>high</key>
			<real>19.64</real>
			<key>low</key>
			<real>19.14</real>
			<key>open</key>
			<real>19.46</real>
			<key>volume</key>
			<real>67597600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.2</real>
			<key>close</key>
			<real>19.32</real>
			<key>date</key>
			<date>2009-05-07T04:00:00Z</date>
			<key>high</key>
			<real>19.99</real>
			<key>low</key>
			<real>19.14</real>
			<key>open</key>
			<real>19.96</real>
			<key>volume</key>
			<real>68727200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.67</real>
			<key>close</key>
			<real>19.79</real>
			<key>date</key>
			<date>2009-05-06T04:00:00Z</date>
			<key>high</key>
			<real>20.07</real>
			<key>low</key>
			<real>19.61</real>
			<key>open</key>
			<real>20.06</real>
			<key>volume</key>
			<real>59639100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.67</real>
			<key>close</key>
			<real>19.79</real>
			<key>date</key>
			<date>2009-05-05T04:00:00Z</date>
			<key>high</key>
			<real>20.24</real>
			<key>low</key>
			<real>19.64</real>
			<key>open</key>
			<real>20.14</real>
			<key>volume</key>
			<real>66835500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.06</real>
			<key>close</key>
			<real>20.19</real>
			<key>date</key>
			<date>2009-05-04T04:00:00Z</date>
			<key>high</key>
			<real>20.4</real>
			<key>low</key>
			<real>19.98</real>
			<key>open</key>
			<real>20.37</real>
			<key>volume</key>
			<real>54313400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.11</real>
			<key>close</key>
			<real>20.24</real>
			<key>date</key>
			<date>2009-05-01T04:00:00Z</date>
			<key>high</key>
			<real>20.35</real>
			<key>low</key>
			<real>19.86</real>
			<key>open</key>
			<real>20.19</real>
			<key>volume</key>
			<real>63224500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.13</real>
			<key>close</key>
			<real>20.26</real>
			<key>date</key>
			<date>2009-04-30T04:00:00Z</date>
			<key>high</key>
			<real>21.1</real>
			<key>low</key>
			<real>20.01</real>
			<key>open</key>
			<real>20.6</real>
			<key>volume</key>
			<real>87439900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.12</real>
			<key>close</key>
			<real>20.25</real>
			<key>date</key>
			<date>2009-04-29T04:00:00Z</date>
			<key>high</key>
			<real>20.89</real>
			<key>low</key>
			<real>20.06</real>
			<key>open</key>
			<real>20.11</real>
			<key>volume</key>
			<real>79301600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.8</real>
			<key>close</key>
			<real>19.93</real>
			<key>date</key>
			<date>2009-04-28T04:00:00Z</date>
			<key>high</key>
			<real>20.27</real>
			<key>low</key>
			<real>19.79</real>
			<key>open</key>
			<real>20.25</real>
			<key>volume</key>
			<real>76685200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.27</real>
			<key>close</key>
			<real>20.4</real>
			<key>date</key>
			<date>2009-04-27T04:00:00Z</date>
			<key>high</key>
			<real>20.82</real>
			<key>low</key>
			<real>20.28</real>
			<key>open</key>
			<real>20.55</real>
			<key>volume</key>
			<real>68219600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>20.78</real>
			<key>close</key>
			<real>20.91</real>
			<key>date</key>
			<date>2009-04-24T04:00:00Z</date>
			<key>high</key>
			<real>21.2</real>
			<key>low</key>
			<real>19.5</real>
			<key>open</key>
			<real>19.82</real>
			<key>volume</key>
			<real>168478500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.8</real>
			<key>close</key>
			<real>18.92</real>
			<key>date</key>
			<date>2009-04-23T04:00:00Z</date>
			<key>high</key>
			<real>18.94</real>
			<key>low</key>
			<real>18.47</real>
			<key>open</key>
			<real>18.92</real>
			<key>volume</key>
			<real>86116300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.66</real>
			<key>close</key>
			<real>18.78</real>
			<key>date</key>
			<date>2009-04-22T04:00:00Z</date>
			<key>high</key>
			<real>19.19</real>
			<key>low</key>
			<real>18.7</real>
			<key>open</key>
			<real>18.76</real>
			<key>volume</key>
			<real>59401000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.85</real>
			<key>close</key>
			<real>18.97</real>
			<key>date</key>
			<date>2009-04-21T04:00:00Z</date>
			<key>high</key>
			<real>19.08</real>
			<key>low</key>
			<real>18.57</real>
			<key>open</key>
			<real>18.59</real>
			<key>volume</key>
			<real>60928300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.49</real>
			<key>close</key>
			<real>18.61</real>
			<key>date</key>
			<date>2009-04-20T04:00:00Z</date>
			<key>high</key>
			<real>18.95</real>
			<key>low</key>
			<real>18.57</real>
			<key>open</key>
			<real>18.89</real>
			<key>volume</key>
			<real>62937200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.08</real>
			<key>close</key>
			<real>19.2</real>
			<key>date</key>
			<date>2009-04-17T04:00:00Z</date>
			<key>high</key>
			<real>19.69</real>
			<key>low</key>
			<real>19</real>
			<key>open</key>
			<real>19.69</real>
			<key>volume</key>
			<real>61398500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.64</real>
			<key>close</key>
			<real>19.76</real>
			<key>date</key>
			<date>2009-04-16T04:00:00Z</date>
			<key>high</key>
			<real>19.78</real>
			<key>low</key>
			<real>18.99</real>
			<key>open</key>
			<real>19.16</real>
			<key>volume</key>
			<real>67688700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.71</real>
			<key>close</key>
			<real>18.83</real>
			<key>date</key>
			<date>2009-04-15T04:00:00Z</date>
			<key>high</key>
			<real>19.25</real>
			<key>low</key>
			<real>18.51</real>
			<key>open</key>
			<real>19.21</real>
			<key>volume</key>
			<real>72725500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.23</real>
			<key>close</key>
			<real>19.35</real>
			<key>date</key>
			<date>2009-04-14T04:00:00Z</date>
			<key>high</key>
			<real>19.55</real>
			<key>low</key>
			<real>19</real>
			<key>open</key>
			<real>19.44</real>
			<key>volume</key>
			<real>63796300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.47</real>
			<key>close</key>
			<real>19.59</real>
			<key>date</key>
			<date>2009-04-13T04:00:00Z</date>
			<key>high</key>
			<real>19.85</real>
			<key>low</key>
			<real>19.37</real>
			<key>open</key>
			<real>19.69</real>
			<key>volume</key>
			<real>44444700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.55</real>
			<key>close</key>
			<real>19.67</real>
			<key>date</key>
			<date>2009-04-09T04:00:00Z</date>
			<key>high</key>
			<real>19.7</real>
			<key>low</key>
			<real>19.22</real>
			<key>open</key>
			<real>19.45</real>
			<key>volume</key>
			<real>55759600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.07</real>
			<key>close</key>
			<real>19.19</real>
			<key>date</key>
			<date>2009-04-08T04:00:00Z</date>
			<key>high</key>
			<real>19.62</real>
			<key>low</key>
			<real>18.96</real>
			<key>open</key>
			<real>18.97</real>
			<key>volume</key>
			<real>56408900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.64</real>
			<key>close</key>
			<real>18.76</real>
			<key>date</key>
			<date>2009-04-07T04:00:00Z</date>
			<key>high</key>
			<real>19.14</real>
			<key>low</key>
			<real>18.63</real>
			<key>open</key>
			<real>18.76</real>
			<key>volume</key>
			<real>65815200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.64</real>
			<key>close</key>
			<real>18.76</real>
			<key>date</key>
			<date>2009-04-06T04:00:00Z</date>
			<key>high</key>
			<real>18.76</real>
			<key>low</key>
			<real>18.27</real>
			<key>open</key>
			<real>18.54</real>
			<key>volume</key>
			<real>47476100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.63</real>
			<key>close</key>
			<real>18.75</real>
			<key>date</key>
			<date>2009-04-03T04:00:00Z</date>
			<key>high</key>
			<real>19.15</real>
			<key>low</key>
			<real>18.43</real>
			<key>open</key>
			<real>19.13</real>
			<key>volume</key>
			<real>81858400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.17</real>
			<key>close</key>
			<real>19.29</real>
			<key>date</key>
			<date>2009-04-02T04:00:00Z</date>
			<key>high</key>
			<real>19.89</real>
			<key>low</key>
			<real>19</real>
			<key>open</key>
			<real>19.5</real>
			<key>volume</key>
			<real>99082300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>19.19</real>
			<key>close</key>
			<real>19.31</real>
			<key>date</key>
			<date>2009-04-01T04:00:00Z</date>
			<key>high</key>
			<real>19.36</real>
			<key>low</key>
			<real>18.18</real>
			<key>open</key>
			<real>18.23</real>
			<key>volume</key>
			<real>96438900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.25</real>
			<key>close</key>
			<real>18.37</real>
			<key>date</key>
			<date>2009-03-31T04:00:00Z</date>
			<key>high</key>
			<real>18.79</real>
			<key>low</key>
			<real>17.78</real>
			<key>open</key>
			<real>17.83</real>
			<key>volume</key>
			<real>92095500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>17.37</real>
			<key>close</key>
			<real>17.48</real>
			<key>date</key>
			<date>2009-03-30T04:00:00Z</date>
			<key>high</key>
			<real>17.76</real>
			<key>low</key>
			<real>17.27</real>
			<key>open</key>
			<real>17.74</real>
			<key>volume</key>
			<real>49633000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.02</real>
			<key>close</key>
			<real>18.13</real>
			<key>date</key>
			<date>2009-03-27T04:00:00Z</date>
			<key>high</key>
			<real>18.62</real>
			<key>low</key>
			<real>18.05</real>
			<key>open</key>
			<real>18.54</real>
			<key>volume</key>
			<real>47670400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.71</real>
			<key>close</key>
			<real>18.83</real>
			<key>date</key>
			<date>2009-03-26T04:00:00Z</date>
			<key>high</key>
			<real>18.88</real>
			<key>low</key>
			<real>18.12</real>
			<key>open</key>
			<real>18.17</real>
			<key>volume</key>
			<real>63775100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>17.77</real>
			<key>close</key>
			<real>17.88</real>
			<key>date</key>
			<date>2009-03-25T04:00:00Z</date>
			<key>high</key>
			<real>18.31</real>
			<key>low</key>
			<real>17.52</real>
			<key>open</key>
			<real>17.98</real>
			<key>volume</key>
			<real>73927100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>17.82</real>
			<key>close</key>
			<real>17.93</real>
			<key>date</key>
			<date>2009-03-24T04:00:00Z</date>
			<key>high</key>
			<real>18.21</real>
			<key>low</key>
			<real>17.84</real>
			<key>open</key>
			<real>18.04</real>
			<key>volume</key>
			<real>50044100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>18.21</real>
			<key>close</key>
			<real>18.33</real>
			<key>date</key>
			<date>2009-03-23T04:00:00Z</date>
			<key>high</key>
			<real>18.59</real>
			<key>low</key>
			<real>17.31</real>
			<key>open</key>
			<real>17.37</real>
			<key>volume</key>
			<real>71600000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.95</real>
			<key>close</key>
			<real>17.06</real>
			<key>date</key>
			<date>2009-03-20T04:00:00Z</date>
			<key>high</key>
			<real>17.65</real>
			<key>low</key>
			<real>16.88</real>
			<key>open</key>
			<real>17.32</real>
			<key>volume</key>
			<real>81725500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>17.03</real>
			<key>close</key>
			<real>17.14</real>
			<key>date</key>
			<date>2009-03-19T04:00:00Z</date>
			<key>high</key>
			<real>17.45</real>
			<key>low</key>
			<real>16.92</real>
			<key>open</key>
			<real>17.37</real>
			<key>volume</key>
			<real>58994600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.85</real>
			<key>close</key>
			<real>16.96</real>
			<key>date</key>
			<date>2009-03-18T04:00:00Z</date>
			<key>high</key>
			<real>17.22</real>
			<key>low</key>
			<real>16.6</real>
			<key>open</key>
			<real>17.03</real>
			<key>volume</key>
			<real>70710700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.79</real>
			<key>close</key>
			<real>16.9</real>
			<key>date</key>
			<date>2009-03-17T04:00:00Z</date>
			<key>high</key>
			<real>16.9</real>
			<key>low</key>
			<real>16.26</real>
			<key>open</key>
			<real>16.32</real>
			<key>volume</key>
			<real>62481000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.15</real>
			<key>close</key>
			<real>16.25</real>
			<key>date</key>
			<date>2009-03-16T04:00:00Z</date>
			<key>high</key>
			<real>16.96</real>
			<key>low</key>
			<real>16.24</real>
			<key>open</key>
			<real>16.82</real>
			<key>volume</key>
			<real>67028900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.54</real>
			<key>close</key>
			<real>16.65</real>
			<key>date</key>
			<date>2009-03-13T04:00:00Z</date>
			<key>high</key>
			<real>17.05</real>
			<key>low</key>
			<real>16.18</real>
			<key>open</key>
			<real>16.98</real>
			<key>volume</key>
			<real>82965800</real>
		</dict>
	</array>
	<key>overallHigh</key>
	<real>24.11</real>
	<key>overallLow</key>
	<real>16.18</real>
	<key>startDate</key>
	<date>2009-03-13T06:53:47Z</date>
	<key>symbol</key>
	<string>MSFT</string>
</dict>
</plist>
